<p>You have Declined the following booking:</p>

<p>{{ booking.getName }}<br>
{{ treatment.getName }} + {{ treatment.getDuration }}<br>
{{ offer.getCurrentPrice }}<br>
{{ availability.getDayText }} {{ availability.getTimeText }}</p>

<p><a href="http://www.bibeauty.com/account">View Details</a></p>

<p>Big love,</p>

<p><strong>The BiBeauty Team</strong></p>
