<p>The booking details are:</p>

<p>{{ booking.getName }}<br>
{{ treatment.getName }} + {{ treatment.getDuration }}<br>
${{ offer.getCurrentPrice }}<br>
{{ availability.getDayText }} {{ availability.getTimeText }}</p>

<p>You must Confirm (or Decline) this booking to notify the Client.</p>

<p><a href="http://www.bibeauty.com/account">View Details</a></p>

<p>Big love,</p>

<p><strong>The BiBeauty Team</strong></p>
