The booking details are;

{{ booking.getName }}
{{ treatment.getName }} + {{ treatment.getDuration }}
{{ offer.getCurrentPrice }}
{{ availability.getDayText }} {{ availability.getTimeText }}

You must Confirm (or Decline) this booking to notify the Client.

<a href="">View Details</a>

Big love,

The BiBeauty Team
