{% extends 'business.html.twig' %}

{% block subbusiness %}
<hr>

<div class="business-description inner">
  <h2 class="business-name business-welcome">Welcome to {{business.getName}}</h2>
  <p class="business-description">{{business.getDescription}}</p>
  <a class="back-to-business" href="{{ path('business_path',{id:business.getId,slug:business.getSlug})}}">See all salon offers</a>
  <p>&nbsp;</p>
</div>  <!-- /.business-description -->
{% endblock %}

{% block biztoolbar %}
<aside class="business-aside biz-aside card">
  <div class="row">
    <div class="col-sm-5">
      <p class="time">
        {{availability.getDate | date('g:i A') }}
      </p>
    </div>
    <div class="col-sm-4">
      <p class="booked-date">
        {{ availability.getDate | date('d M') }}<br>
        {{ availability.getDate | date('D') }}
      </p>
    </div>
    <div class="col-sm-3">
      <p class="date">
        {{ availability.getDate | today }}
      </p>
    </div>
  </div> <!-- /.row -->
  <div class='row'>
    <hr class="top">
    <span class="title">
      {{ availability.getBusiness.getName }}
    </span>
    <hr class="bottom">
  </div>
  <div class="row bottom-area">
    <p class="treatment">
      {{ availability.getTreatment.getLabel }}
    </p>
    <p class="price">
      ${{ availability.getAvailabilitySet.getOffer.getCurrentPrice | localizedcurrency}}
    </p>
    <p class="old-price">
      ${{ availability.getTreatment.getOriginalPrice | localizedcurrency}}
    </p>
    <p class="duration">
      {{ availability.getTreatment.getDuration | duration }}
    </p>
    <p class="footer">
      All payments are made directly with the salon upon your visit. BiBeauty does not accept payments for bookings.
    </p>
  </div> <!-- /.row -->
</aside>
{% endblock %}

{% block bizbody %}

<section class="no-account booking-info" style="padding-top: 20px;">
  {# include 'shared/quicklogin.html.twig' #}
  <div class="container">
    <hr class="fullwidth">
    <p class="text-muted">Fill out the below to request your booking. You’ll receive a text if this is confirmed.</p>

    {{ form_start(form) }}
      <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_errors(form.name) }}
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            {{ form_errors(form.email) }}
          </div>
        </div> <!-- /.col -->

        <div class="col-md-6">
          <div class="form-group">
            {{ form_label(form.phone) }}
            {{ form_widget(form.phone) }}
            {{ form_errors(form.phone) }}
          </div>
        </div> <!-- /.col -->

      </div>
      <center>
        <button type="submit" class="btn btn-primary btn-lg">Reserve</button>
      </center>

      <input type="hidden" name="Avaialbility" value="{{availability.getId}}">
    {{ form_end(form) }}

  </div>

</section>

{% endblock %}
