{% extends 'base.html.twig' %}

{% block body %}

<section id="business-information" class="nav-pad">

    {% include 'shared/businessheader.html.twig' %}

    <div class="business-main-content">
      <div class="container">
        <div class="business-description">
          <div class="row">
            <div class="col-md-8">
                <h2 class="business-name business-welcome">Welcome to {{business.getName}}</h2>
                <p class="business-description">{{business.getDescription}}</p>
                <hr>
            </div> <!-- /.business-description -->

          </div> <!-- /.row -->
        </div>  <!-- /.business-description -->
        <a class="back-to-business" href="{{ path('business_path',{id:business.getId,slug:business.getSlug})}}">See all salon offers</a>
        <form method="POST" action="{{ path('availabilities_redirect_path') }}">
          <div class="business-services">
            <h4>Select the Start Time for your visit</h4>
            <div class="panel-group">
              <div class="row">
                <div class="col-md-4">
                  <div class="btn-group" >
                    <p class="btn btn-default">{{ "now"|date("m/d/Y") }}</p>
                    <p class="btn btn-default">{{ "now"|date_modify("+1 day")|date("m/d/Y") }}</p>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="btn-group " role="tablist">
                    <a href="#today" aria-controls="home" role="tab" data-toggle="tab" class="btn btn-default">Today</a>
                    <a href="#tomorrow" aria-controls="home" role="tab" data-toggle="tab" class="btn btn-default">Tomorrow</a>
                  </div>

                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="today">

                      {% if today | length > 0 %}
                      <ul class="list-group">
                        {% for availability in today %}
                          {% include 'shared/availability-subitem.html.twig' %}
                        {% endfor %}
                      </ul>
                      {% else %}
                        <p>There are no availability bookings for today.</p>
                      {% endif %}

                    </div>
                    <div role="tabpanel" class="tab-pane" id="tomorrow">
                      {% if tomorrow | length > 0 %}
                      <ul class="list-group">
                        {% for availability in tomorrow %}
                          {% include 'shared/availability-subitem.html.twig' %}
                        {% endfor %}
                      </ul>
                      {% else %}
                        <p>There are no availability bookings for tomorrow.</p>
                      {% endif %}
                    </div>
                  </div>

                </div>
                <div class="col-md-8" style="margin-top:-7px;">
                  <div class="row">
                  <p class="col-md-4"><strong>{{treatment.name}}</strong></p>
                  </div>
                  <div class="row">
                      <p class="col-md-3">{{treatment.duration}} min</div>
                    </div>
                  </div>
                </div>
                <div class="row">
                <div class="col-md-offset-9 col-md-3 reserve-booking">

                  <div class="col-md-12"><strong>Total:</strong> <span class="total"></span></div>

                  <div class="col-md-12"><button type="submit" class="btn btn-primary">Continue to Reserve</button></div>

                </div>
              </div>
              </div>

            </div> <!-- /.panel-group -->

          </div> <!-- /.business-services -->
        </form>

      </div>
    </div>
</section>

{% endblock %}
{% block javascripts %}
  <script>
    jQuery(document).ready(function(){
      jQuery('input[name="Availability"]').on('change',function(){
        var row   = jQuery(this).parents('li');
        var price = row.find('strong big').text();
        jQuery('span.total').text(price);
      })
    });
  </script>
{% endblock %}
