{% extends 'admin.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    Bookings
    <a href="{{path('admin_new_booking_path')}}" class="admin-btn"><i class="fa fa-plus fa-lg"></i><strong>Add a Booking</strong></a>
  </div>
  <div class="panel-body">
    <table class="table businesses-table">
      <thread>
        <tr>
          <th>ID</th>
          <th><a href="#" id="check-all-box">All</a></th>
          <th>Cilent</th>
          <th>Services</th>
          <th>Category</th>
          <th>Treatment</th>
          <th>Date</th>
          <th>Time</th>
          <th>Price</th>
          <th>Therapist</th>
          <th>Status</th>
        </tr>
      </thread>
      <tbody>
        {% if bookings | length > 0 %}


          {% for booking in bookings %}
                  <tr data=bookingid="{{booking.getId}}">
          {% set service     = booking.getService %}
          {% set serviceType = service.getServiceType %}
          {% set category = serviceType.getServiceCategory %}
          {% set availability = booking.getAvailabilityId %}
          {% set status = booking.getApproval %}
          {% if status == 1 %}
          {%     set status = 'unapproved' %}
          {%     set cls = '-warning' %}
          {% elseif status == 4 %}
          {%     set status = 'confirmed' %}
          {%     set cls = '-success' %}
          {% elseif status == 2 %}
          {%     set status = 'declined' %}
          {%     set cls    = '-danger' %}
          {% else %}
          {%     set status = 'canceled' %}
          {%     set cls = '-danger' %}
          {% endif %}
          <td >
              {{ booking.getId }}
          </td>
          <td >
              <input type="checkbox" data-id="{{booking.getId}}">
          </td>
          <td >
              {{ booking.getUserId }}
          </td>
          <td >
              {{ serviceType.getLabel }}
          </td>
          <td >
              {{ category.getLabel }}
          </td>
          <td data-serviceid = "{{service.getId}}" >
              {{ service.getDescription }}
          </td>
          <td data-availabilityid = "{{availability.getId}}">
              {{ availability.getDate|date('m/d/Y') }}
          </td>
          <td data-availabilityid = "{{availability.getId}}">
              {{ availability.getTime|date('h:i A') }}
          </td>
          <td data-serviceid = "{{service.getId}}">
              ${{ service.getOriginalPrice }}.00 / ${{ service.getCurrentPrice }}.00
          </td>
          <td data-serviceid = "{{service.getId}}">
            {{service.getTherapist}}
          </td>
            <td><a href="#" class="btn btn{{cls}}">
            {{status}}</a>
          </td>
                    </tr>
          {% endfor %}

        <tr>
        {% else %}
        <p>You have no bookings</p>
        {% endif %}
      </tr>
      </tbody>

    </table>

  </div>
</div>


{% endblock %}
