{% extends 'admin.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    Bookings
    <a href="{{path('admin_new_booking_path')}}" class="admin-btn"><i class="fa fa-plus fa-lg"></i><strong>Add a Booking</strong></a>
  </div>
  <div class="panel-body">
    <table class="table businesses-table">
      <thread>
        <tr>
          <th>ID</th>
          <th><a href="#" id="check-all-box">All</a></th>
          <th>Cilent</th>
          <th>Services</th>
          <th>Category</th>
          <th>Treatment</th>
          <th>Date</th>
          <th>Time</th>
          <th>Price</th>
          <th>Therapist</th>
          <th>Status</th>
        </tr>
      </thread>
      <tbody>
        {% if bookings | length > 0 %}


          {% for booking in bookings %}
                  <tr >
          {% set service     = booking.getService %}
          {% set serviceType = service.getServiceType %}
          {% set category = serviceType.getServiceCategory %}
          {% set availability = booking.getAvailabilityId %}
          <td >
              {{ booking.getId }}
          </td>
          <td >
              {{ booking.getId }}
          </td>
          <td >
              {{ booking.getUserId }}
          </td>
          <td >
              {{ serviceType.getLabel }}
          </td>
          <td >
              {{ category.getLabel }}
          </td>
          <td >
              {{ service.getDescription }}
          </td>
          <td >
              {{ availability.getDate|date('m/d/Y') }}
          </td>
          <td >
              {{ availability.getTime|date('H:i') }}
          </td>
          <td >
              ${{ service.getCurrentPrice }}.00
          </td>
          <td>{{service.getTherapist}}</td>
            <td>{{booking.getApproval}}</td>
                    </tr>
          {% endfor %}

        <tr>
        {% else %}
        <p>You have no bookings</p>
        {% endif %}
      </tr>
      </tbody>

    </table>

  </div>
</div>


{% endblock %}
