{% extends 'admin.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    Offers
    {# <a href="{{path('admin_new_booking_path', { id: business.getId, slug: business.getSlug })}}" class="admin-btn"><i class="fa fa-plus fa-lg"></i><strong>Add a Booking</strong></a> #}
  </div>
  <div class="panel-body">
    {% if offers | length > 0 %}
    <table class="table businesses-table">
      <thread>
        <tr>
          <th>ID</th>
          <!--<th><a href="#" id="check-all-box">All</a></th>-->
          <th>Client</th>
          <th>Services</th>
          <th>Category</th>
          <th>Date</th>
          <th>Time</th>
          <th>Price</th>
          <th>Therapist</th>
          <th>Status</th>
        </tr>
      </thread>
      <tbody>


          {% for booking in offers %}
                  <tr data=bookingid="{{booking.getId}}">
          {% set service     = booking.getService %}
          {% set serviceType = service.getServiceType %}
          {% set category = serviceType.getServiceCategory %}
          {% set availability = booking.getAvailability %}
          {% set status = booking.getApproval %}
          {% if status == 1 %}
          {%     set status = 'unapproved' %}
          {%     set cls = '-warning' %}
          {% elseif status == 4 %}
          {%     set status = 'confirmed' %}
          {%     set cls = '-success' %}
          {% elseif status == 2 %}
          {%     set status = 'declined' %}
          {%     set cls    = '-danger' %}
          {% else %}
          {%     set status = 'canceled' %}
          {%     set cls = '-danger' %}
          {% endif %}
          <td >
              {{ booking.getId }}
          </td>
          <!--<td >
              <input type="checkbox" data-id="{{booking.getId}}">
          </td>-->
          <td >
              {{ booking.getUser }}
          </td>
          <td >
              {{ booking.getService.getLabel }}
          </td>
          <td >
              {{ category.getLabel }}
          </td>
          <td data-availabilityid = "{{availability.getId}}">
              {{ availability.getDate|date('m/d/Y') }}
          </td>
          <td data-availabilityid = "{{availability.getId}}">
              {{ availability.getTime|date('h:i A') }}
          </td>
          <td data-serviceid = "{{service.getId}}">
              ${{ service.getOriginalPrice }}.00 / ${{ service.getCurrentPrice }}.00
          </td>
          <td data-serviceid = "{{service.getId}}">
            {{service.getTherapist}}
          </td>
            <td><a href="#" class="btn btn{{cls}}">
            {{status}}</a>
          </td>
                    </tr>
          {% endfor %}

        <tr>
      </tr>
      </tbody>

    </table>
    {% else %}
    <p>You have no offers</p>
    {% endif %}

  </div>
</div>


{% endblock %}
