{% extends 'admin.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    Offers
    {# <a href="{{path('admin_new_booking_path', { id: business.getId, slug: business.getSlug })}}" class="admin-btn"><i class="fa fa-plus fa-lg"></i><strong>Add a Booking</strong></a> #}
  </div>
  <div class="panel-body">
    {% if offers | length > 0 %}
    <table class="table businesses-table">
      <thread>
        <tr>
          <th>ID</th>
          <!--<th><a href="#" id="check-all-box">All</a></th>-->
          <th>Services</th>
          <th>Treatment</th>
          <th>Start Date</th>
          <th>Times</th>
          <th>Discount</th>
          <th>Re-occurring</th>
          <th>Enabled</th>
        </tr>
      </thread>
      <tbody>
        {% for offer in offers %}
        {% set av = offer.getAvailabilitySet %}
        <tr>
          <td><span class="offer-id">{{ offer.getId }}</span></td>
          <td><span class="treatment-name">{{offer.getTreatment.getTreatmentCategory.getCategoryName}}</span></td>
          <td><span class="treatment-name">{{offer.getTreatment.getLabel}}</span></td>
          <td><span class="offer-start">{{av.getStartDate | date('d-m-Y')}}</span></td>
          <td><span class="offer-times">
            {{av.getTimes() | join(', ')}}
          </span></td>
          <td><span class="discount">
            {{ offer.getDiscountPercentage }}% /
            <span class="strikethrough">${{ offer.getTreatment.getOriginalPrice }}</span>
            ${{ offer.getCurrentPrice }}
          </span></td>
          <td><span class="recurring">
            {% if av.getRecurrenceType == 'never' %}
              <input type="checkbox" disabled="disabled">
            {% else %}
              <input type="checkbox" disabled="disabled" checked="checked">
            {% endif %}
          </span></td>
          <td><span class="enabled">
            <div class="onoffswitch">

              <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" {% if offer.getIsOpen %}checked{% endif %}>
              <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
              </label>
            </div>

          </span></td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
    {% else %}
      <p>You have no offers</p>
    {% endif %}

  </div>
</div>


{% endblock %}
