{% extends 'admin.html.twig' %}

{% block toolbar %}
<a href="{{ path('admin_business_offers_new_path', { id: business.getId, slug: business.getSlug }) }}" class="admin-btn"><i class="fa fa-plus fa-lg"></i> Add Offer</a>
<a id="deleteSelectedOffersButton" class="admin-btn" href="javascript:void(0);"><i class="fa fa-trash fa-lg"></i> Delete</a>
{% endblock %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-body">
    {% if offers | length > 0 %}
    <div class="table-responsive-old">
      <table class="table businesses-table table-striped">
        <thead>
          <tr>
            <!--<th><a href="#" id="check-all-box">All</a></th>-->
            <th>
              <span class="sr-only">
                <input name="Offers[]" class="offer-check" type="checkbox" value="all" />
              </span>
              All
            </th>
            <th>Treatment</th>
            <th>Start Date</th>
            <th class="times-heading">Times</th>
            <th>Discount</th>
            <th>Reoccurring</th>
            <th>Enabled</th>
          </tr>
        </thead>
        <tbody>
          {% for offer in offers %}
          {% set av = offer.getAvailabilitySet %}
          <tr data-id="{{ offer.getId }}">
            <td><span class="btns">
              <input name="Offers[]" class="offer-check" type="checkbox" value="{{offer.getId}}" style="margin:0;">
            </span></td>
            <td title="Treatment" class="treatment-name-td"><span class="treatment-name">
              <span class="icon-rounded">
                {{offer.getTreatment.getTreatmentCategory.getCategoryName | slice(0,1) | capitalize }}
              </span>
              {{offer.getTreatment.getName}}
            </span></td>
            <td title="Start Date"><span class="offer-start">{{av.getStartDate | date('m/d/Y')}}</span></td>
            <td title="Times"><span class="offer-times">
              {{av.getTimes() | join(', ')}}
            </span></td>
            <td title="Discount"><span class="discount">

              <span class="percent">{{ offer.getDiscountPercentage }}</span>% /
              <span class="strikethrough">${{ offer.getTreatment.getOriginalPrice }}</span>
                <a href="#" id="currentPrice{{offer.getId}}" class="price-editable" data-type="text" data-pk="{{ offer.getId }}" data-url="{{ path('admin_edit_offer',{id:offer.getId,slug:business.getSlug}) }}" >${{ offer.getCurrentPrice }}</a>
            </span></td>
            <td title="Reoccuring"><span class="recurring">
              {% if av.getRecurrenceType == 'never' %}
                <input type="checkbox" disabled="disabled">
              {% else %}
                <input type="checkbox" disabled="disabled" checked="checked"> {{ av.getRecurrenceType | capitalize }}
              {% endif %}
            </span></td>
            <td title="Enabled">
              <form id="offerStatus{{offer.getId}}"
              class="delete-form"
              action="{{path('admin_treatment_toggle_is_open',{'id':app.request.get('id'),'slug':app.request.get('slug')})}}" method="post">
                <input type="checkbox" name="onoffswitch" {% if offer.getIsOpen %}checked{% endif %}>
                <input type="hidden" name="offerId" value="{{offer.getId}}" />
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>

      </table>
    </div>
    {% else %}
      <p>You have no offers</p>
    {% endif %}

  </div>
</div>

<div class="modal fade" id="add-offer-modal" tabindex="-1" role="dialog" aria-labelledby="add-availability-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    {#{ form_start(form) }#}
      <form action="{{ path('admin_offer_new_path',{ slug: business.getSlug, id: business.getId }) }}" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="add-service-category-label">Add an Offer</h4>
        </div>
        <div class="modal-body">
          {% include "account/availability/form.html.twig" %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit"
               class="btn btn-primary">
               <strong>Add Offer</strong> <i class="fa fa-plus fa-lg"></i>
           </button>
        </div>
      </form> <!-- /.form -->
    </div>
  </div>
</div>


{% endblock %}
{% block javascripts %}
<script>
jQuery(document).ready(function(){

  jQuery(document).on("change","[name='Treatment']",function(e){
    var $el  = jQuery(e.target);
    var val  = $el.val();
    var $opt = jQuery('select.select2 option').filter(function(){
      return $(this).val() == val;
    });
    jQuery('input[name="Price"]').val($opt.data('price').toFixed(2));
    $(this).select2("close");
  });

  jQuery(document).on("change",".select2",function(e){
    var $el  = jQuery(e.target);
    var vals = $el.val();
    if(jQuery.inArray( 'ALL',vals) !== -1){
         var $sel = jQuery('[name="Times[]"]'); console.log($sel);
         var all = $sel.find('option').map(function() { return jQuery(this).val(); }).get();
         all.shift();
        $sel.val(all).trigger("change");
    }
  });

  $('.price-editable').editable({
    success: function(response, newValue) {
      var $row        = $(this).parents('td');
      var oPrice      = $row.find('span.strikethrough').text().replace('$','');
      var $percentage = $row.find('span.discount > span.percent');
      var cPrice      = newValue.replace('$','');
      var percent     = Math.round(((oPrice-cPrice)/oPrice)*100);
      $percentage.text(percent);
      $(this).text(newValue);
    }
  });
});

jQuery('a#deleteSelectedOffersButton').on('click',function(e){
  e.preventDefault();
  var $offers = jQuery(".table.businesses-table .btn-group > input:checkbox:checked");
  if($offers.length <= 0) return false;
  var offers = $offers.map(function(){
      return $(this).val();
    }).get();
    $.post( "{{ path('admin_delete_offer',{'id':app.request.get('id'),'slug':app.request.get('slug')} ) }}", { offers: offers }, function( data ) {
      $offers.each(function(i,el){
        jQuery(el).remove();//.remove();
      });
    }, "json")
    .done(function(){
      $offers.each(function(i,el){
        jQuery(el).remove();//.remove();
      });
    });
    location.reload();
});
</script>
<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/bootstrap3-editable/js/bootstrap-editable.min.js"></script>
{% endblock %}
