{% extends 'admin.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    Offers
    <a href="#add-offer-modal" data-toggle="modal" class="admin-btn"><i class="fa fa-plus fa-lg"></i> <strong>Add Offer</strong></a>
    <a id="deleteSelectedOffersButton" class="admin-btn"><i class="fa fa-trash fa-lg"></i> <strong>Delete Offer(s)</strong></a>
  </div>
  <div class="panel-body">
    {% if offers | length > 0 %}
    <table class="table businesses-table">
      <thread>
        <tr>
          <th>ID</th>
          <!--<th><a href="#" id="check-all-box">All</a></th>-->
          <th><input name="Offers[]" class="offer-check" type="checkbox" value="all"></th>
          <th>Category</th>
          <th>Treatment</th>
          <th>Start Date</th>
          <th>Times</th>
          <th>Discount</th>
          <th>Re-occurring</th>
          <th>Enabled</th>
        </tr>
      </thread>
      <tbody>
        {% for offer in offers %}
        {% set av = offer.getAvailabilitySet %}
        <tr>
          <td><span class="offer-id">
          {{ offer.getId }}
          </span></td>
          <td><span class="btns">
            <div class="btn-group"><input name="Offers[]" class="offer-check" type="checkbox" value="{{offer.getId}}"></div>
          </span></td>
          <td><span class="treatment-name">{{offer.getTreatment.getTreatmentCategory.getCategoryName}}</span></td>
          <td><span class="treatment-name">{{offer.getTreatment.getLabel}}</span></td>
          <td><span class="offer-start">{{av.getStartDate | date('d-m-Y')}}</span></td>
          <td><span class="offer-times">
            {{av.getTimes() | join(', ')}}
          </span></td>
          <td><span class="discount">
            {{ offer.getDiscountPercentage }}% /
            <span class="strikethrough">${{ offer.getTreatment.getOriginalPrice }}</span>
            ${{ offer.getCurrentPrice }}
          </span></td>
          <td><span class="recurring">
            {% if av.getRecurrenceType == 'never' %}
              <input type="checkbox" disabled="disabled">
            {% else %}
              <input type="checkbox" disabled="disabled" checked="checked"> {{ av.getRecurrenceType}}
            {% endif %}
          </span></td>
          <td><span class="enabled">
            <div class="onoffswitch">
              <form id="offerStatus{{offer.getId}}" action="{{path('admin_treatment_toggle_is_open',{'id':app.request.get('id'),'slug':app.request.get('slug')})}}" method="post">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" {% if offer.getIsOpen %}checked{% endif %}>
                <input type="hidden"  name="offerId" value="{{offer.getId}}" />
                <label class="onoffswitch-label" for="myonoffswitch">
                  <span class="onoffswitch-inner"></span>
                  <span class="onoffswitch-switch"></span>
                </label>
              </form>
            </div>

          </span></td>
        </tr>
        {% endfor %}
      </tbody>

    </table>
    {% else %}
      <p>You have no offers</p>
    {% endif %}

  </div>
</div>

<div class="modal fade" id="add-offer-modal" tabindex="-1" role="dialog" aria-labelledby="add-availability-label">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    {#{ form_start(form) }#}
      <form action="{{ path('admin_offer_new_path',{ slug: business.getSlug, id: business.getId }) }}" method="post">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="add-service-category-label">Add an Offer</h4>
        </div>
        <div class="modal-body">
          {% include "account/availability/form.html.twig" %}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit"
               class="btn btn-primary">
               <strong>Add Offer</strong> <i class="fa fa-plus fa-lg"></i>
           </button>
        </div>
      </form> <!-- /.form -->
    </div>
  </div>
</div>


{% endblock %}
{% block javascripts %}
<script>
jQuery('.onoffswitch > form input[type="checkbox"]').on('change',function(){
  jQuery(this).parents('form').submit();
})
</script>
{% endblock %}
