{% extends 'admin.html.twig' %}

{% block toolbar %}

{% endblock %}

{% block body %}

<div class="row">

  <div class="col-md-4">
    <div class="panel panel-sidebar">
      <div class="panel-heading">

        <div class="input-group">
          <input type="text" class="form-control ul-filter" placeholder="Search Treatments" data-filters=".filterable-ul">
          <span class="input-group-addon" id="basic-addon2"><i class="fa fa-search"></i></span>
        </div>

      </div>
      <div class="panel-body">
        <!-- List group -->
        <ul class="list-group filterable-ul">
          {% for category, treatmentsArray in treatments %}
            <li class="list-group-item category-name">{{ category }}</li>
            {% for subtreatment in treatmentsArray %}
              <li class="list-group-item" data-parent="{{ category | lower }}">
                {{ subtreatment.getName | slice(0,30) }}
                <a href="#"
                  data-add-id="{{subtreatment.getId}}"
                  data-add-label="{{ subtreatment.getName }}"
                  data-original-price="{{ subtreatment.getOriginalPrice }}"
                  class="add-button-autoadd button-offer pull-right icon-rounded"><i class="fa fa-plus"></i></a>
              </li>
            {% endfor %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-8">

    <form action="" method="post">

      <div class="panel panel-default">
        <div class="panel-body">

            <table class="table businesses-table table-striped">

              <thead>
                <tr>
                  <th width="32%">Treatment</th>
                  <th width="20%">Start Date</th>
                  <th width="16%">Times</th>
                  <th width="16%">Original Price</th>
                  <th width="16%">Discount Price</th>
                </tr>
              </thead>

              <tbody class="autoadd">
              </tbody>

            </table>



        </div>
      </div> <!-- /.panel -->

      <p>&nbsp;</p>

      <div class="align-right">
        <button class="btn btn-lg btn-primary" type="submit">Add Offers</button>
      </div>

    </form>

  </div>

</div>
{% verbatim %}

<script id="times-template" type="text/x-handlebars-template">
  <div class="btn-group select-replacement">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Times <span class="caret"></span>
    </button>
    <div class="dropdown-menu">
      <ul class="dropdown-menu-ul">
      {{#each enum}}
        <li><a class="select-option" href="javascript:void(0)" data-value="{{value}}" data-key="{{key}}">{{value}}</a></li>
      {{/each}}
        <li class="submenu">
          <a href="javascript: void(0);" class="select-replacement-all">Select All</a> | <a class="select-replacement-none" href="javascript:void(0);">Deselect All</a> | <a class="select-replacement-close" href="javascript: void(0);">Close</a>
        </li>
      </ul>
    </div>
  </div>
</script>

<script id="form-template" type="text/x-handlebars-template">

  <td class="hidden-xs hidden-sm"></td>
  <td colspan="4" title="Repeat">
    <div class="form-group">
      <div class="input-group">
        <label for="" style="font-weight: normal;" class="hidden-xs hidden-sm">Repeat</label>
        <!--<input type="checkbox" name="Recurring" class="form-control" />-->
        <div class="btn-group" data-toggle="buttons">
          <label class="btn btn-primary active" >
            <input type="radio" name="{{ prefix }}[{{ index }}][recurrenceType]" checked value="never" class="form-control" /> Never
          </label>
          <label class="btn btn-primary" >
            <input type="radio" name="{{ prefix }}[{{ index }}][recurrenceType]" value="daily" class="form-control" /> Daily
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="{{ prefix }}[{{ index }}][recurrenceType]" value="weekly" class="form-control" /> Weekly
          </label>
          <label class="btn btn-primary">
            <input type="radio" name="{{ prefix }}[{{ index }}][recurrenceType]" value="monthly" class="form-control" /> Monthly
          </label>
        </div>

      </div>
    </div> <!-- /.form-group -->

    <div class="repeat-subform" style="display: none;">

      <div class="form-group">

        <div class="input-group">
          <label class="btn btn-primary">
            <input class="sr-only checkbox-button" type="checkbox" name="{{ prefix }}[{{ index }}][recurrenceDates][]" value="sunday"> Sun
          </label>
          <label class="btn btn-primary">
            <input class="sr-only checkbox-button" type="checkbox" name="{{ prefix }}[{{ index }}][recurrenceDates][]" value="monday"> Mon
          </label>
          <label class="btn btn-primary">
            <input class="sr-only checkbox-button" type="checkbox" name="{{ prefix }}[{{ index }}][recurrenceDates][]" value="tuesday"> Tues
          </label>
          <label class="btn btn-primary">
            <input class="sr-only checkbox-button" type="checkbox" name="{{ prefix }}[{{ index }}][recurrenceDates][]" value="wednesday"> Wed
          </label>
          <label class="btn btn-primary">
            <input class="sr-only checkbox-button" type="checkbox" name="{{ prefix }}[{{ index }}][recurrenceDates][]" value="thursday"> Thu
          </label>
          <label class="btn btn-primary">
            <input class="sr-only checkbox-button" type="checkbox" name="{{ prefix }}[{{ index }}][recurrenceDates][]" value="friday"> Fri
          </label>
          <label class="btn btn-primary">
            <input class="sr-only checkbox-button" type="checkbox" name="{{ prefix }}[{{ index }}][recurrenceDates][]" value="saturday"> Sat
          </label>
        </div>
      </div>

    </div>

  </td>

</script>

{% endverbatim %}

{% endblock %}
