{% extends 'admin.html.twig' %}
{% block stylesheets %}
{{ parent() }}
<style>
  .select2.select2-hidden-accessible{display:none;}
</style>
{% endblock %}
{% block body %}
{% include 'shared/adminnav.html.twig' %}
<div class="panel panel-default transparent">
  <div class="panel-heading">
    <div class="centered">
    <img src="{% if business.hasLogoAttachment %}
                {{ business.getLogoAttachment.getKey | s3 }}
            {% else %}
                {{ asset('assets/images/placeholder-image1.png') }}
            {% endif %}"  />
    </div>
  </div>
  <div class="panel-body">

    {% include 'shared/treatmentadder.html.twig' %}
    <div class="col-md-8">

      <form action="{{ path('admin_business_offers_addedit_path',{ slug: business.getSlug, id: business.getId }) }}" method="post" class="form-inline" role="form">
        {% if offers|length > 0 %}
        {% set j = 0 %}
        {% for cat,catoffers in offers %}
        <h4>{{ cat }}</h4>
        <div class="table-responsive shadow offers">
          <table data-cat="{{cat}}" class="table table-striped offers-add">
            <thead>
              <tr>
                <th>Treatment</th>
                <th>Start Date</th>
                <th>Times</th>
                <th style="width:13%;">Original Price</th>
                <th style="width:13%;">Discount Price</th>
              </tr>
            </thead>
            <tbody>
              {% for i,offer in catoffers %}
              {% set tx = offer.getTreatment.getTreatmentCategory %}
              {% set av = offer.getAvailabilitySet %}
              {% set avs = av.getAvailabilities %}
              {% set times = [] %}
              {% for t in avs %}
                {% set times = times|merge([t.getDate | date('h:i')])  %}
              {% endfor %}
              <tr data-id="{{offer.getId}}">
              <td><span class="cat-icon">{{ cat[:1] }}</span>{{ tx.getLabel }}<input type="hidden" name="Treatment[]" value="{{tx.getId}}"/><input type="hidden" name="id[]" value="{{offer.getId}}"/></td>
                <td><div class="input-group "><input type="text" class="form-control DayField" disabled name="StartDate[]" value="{{av.getStartDate | date('d-m-Y')}}"/></div></td>
                <td>
                  <!--<div class="input-group "><textarea class="form-control" name="Times[]" >{{av.getTimes() | join(', ')}}" /></textarea></div>-->
                  <input type="hidden" name ="AvailabilityId" value="{{av.getId}}"/>
                  <div class="select2-wrapper">
                    <select multiple="true" class="form-control select2" name="Times[{{j}}][]">
                      <option value="ALL">All Times</option>
                    {% for hour in 7..21 %}
                      {% for minute in 0..3 %}
                        {% set formattedMinute = "%02d"|format(minute * 15) %}
                        {% set time = hour ~ ':' ~ formattedMinute %}
                        {% set selected = time in times ? 'selected' : '' %}
                        <option {{ selected }} value="{{hour}}:{{formattedMinute}}">{{hour | nicehour }}:{{formattedMinute}} {{ hour | meridian }}</option>
                      {% endfor %}
                    {% endfor %}
                    </select>
                  </div>
                </td>
                <td><div class="input-group "><span class="input-group-addon">$</span><input type="text" disabled class="form-control" name="OriginalPrice[]" value="{{ offer.getTreatment.getOriginalPrice }}"></div></td>
                <td><div class="input-group "><span class="input-group-addon">$</span><input type="text" class="form-control" name="CurrentPrice[]" value="{{ offer.getCurrentPrice }}" /></div>
                <div class="form-group">
                    <div class="input-group">
                      <label for="">Repeat</label><br>
                      <!--<input type="checkbox" name="Recurring" class="form-control" />-->
                      <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active" >
                          <input type="radio" name="RecurrenceType[{{j}}]" checked value="never" class="form-control" /> Never
                        </label>
                        <label class="btn btn-primary" >
                          <input type="radio" name="RecurrenceType[{{j}}]" value="daily" class="form-control" /> Daily
                        </label>
                        <label class="btn btn-primary">
                          <input type="radio" name="RecurrenceType[{{j}}]" value="weekly" class="form-control" /> Weekly
                        </label>
                        <label class="btn btn-primary">
                          <input type="radio" name="RecurrenceType[{{j}}]" value="monthly" class="form-control" /> Monthly
                        </label>
                      </div>

                    </div>
                  </div> <!-- /.form-group -->
                </td>
              </tr>
              {% set j = j + 1 %}
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      {#{ form_start(form) }#}

        {#{ form_widget(form) }#}
        <input type="submit" value="Add Offers"
             class="btn btn-primary pull-right" />
      {#{ form_end(form) }#} <!-- /. form -->
      {% else %}
         <span class="no-offers">There are no offers currently</span>
         <input type="submit" value="Add Offers"
              class="btn btn-primary pull-right hidden" />
      {% endif %}

    </form>

    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}<script>
  jQuery(document).ready(function(){
      txAdder.init(true);
      jQuery('#businesses-link').on('click',function(){
        jQuery('.businesses-list').toggleClass('hidden');
      });
      jQuery('.DayField').datepicker();
  });

</script>{% endblock %}
