<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}BiBeauty{% endblock %}</title>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300" rel="stylesheet" type="text/css">
    {% stylesheets
      '@vendor_css'
      filter='cssrewrite' output='css/vendor.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% stylesheets
        'assets/css/main.scss'
        filter='sass,cssrewrite' output='css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
</head>
<body class="admin">

<nav class="navbar navbar-default navbar-fixed-top" id="primary-nav" role="navigation">
    <div class="container-fluid">
      <a href="#" class="hide-menu btn btn-default">
        <span><i class="glyphicon glyphicon-menu-hamburger"></i> Toggle Menu</span>
      </a>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="{{path('admin_path')}}" class="btn btn-default">
              <span class="account-label">My Account</span>
              <span class="account-icon"><img src="{{asset('assets/images/account-generic.png') }}"></span>
              <span class="account-email">{{ app.user.getEmail() }}</span>
            </a></li>
            <li><a href="{{path('logout_path')}}" class="btn btn-default">Logout</a></li>
        </ul>
    </div>
</nav>

<main>

  <nav id="secondary">
    <ul class="nav nav-pills nav-stacked">

      <li class="header">

          {% if business is defined %}
          <a href="{{ path('admin_business_path', { id: business.getId, slug: business.getSlug })}}" disabled>
            {{business.getName}}
            <i class="fa fa-pencil fa-lg"></i>
          </a>
          {% else %}
          <a href="#" disabled>
            Choose
          </a>
          {% endif %}
      </a></li>

      <li role="presentation" class="{% if app.request.attributes.get('_route') == 'admin_path' %}active{% endif %}" id="home">
        <a href="{{ path('admin_path')}}" id="home-link">
          <i class="fa fa-home fa-lg"></i>
          Home
        </a>
      </li> <!-- /.active -->
      {% if business is defined %}
      <li role="presentation" id="bookings" class="{% if app.request.attributes.get('_route') starts with 'admin_business_bookings' %}active{% endif %}">
        <a href="{{path('admin_business_bookings_path', { id: business.getId, slug: business.getSlug })}}" id="bookings-link">
          <i class="fa fa-book fa-lg"></i>
          My Bookings
        </a>
      </li> <!-- /#bookings -->

      <li role="presentation" id="bookings" class="{% if app.request.attributes.get('_route') starts with 'admin_business_offers' %}active{% endif %}">
        <a href="{{path('admin_business_offers_path', { id: business.getId, slug: business.getSlug })}}" id="offers-link">
          <i class="fa fa-book fa-lg"></i>
          My Offers
        </a>
      </li> <!-- /#bookings -->

      <li role="presentation" id="services" class="{% if app.request.attributes.get('_route') starts with 'admin_business_treatments' %}active{% endif %}">
        <a href="{{ path('admin_business_treatments_path', { id: business.getId, slug: business.getSlug }) }}" id="services-link">
          <i class="fa fa-glass fa-lg"></i>
          All Treatments
        </a>
      </li> <!-- /#services renamed all treatments -->

      <li role="presentation" id="therapists" class="{% if app.request.attributes.get('_route') starts with 'admin_business_therapists' %}active{% endif %}">
        <a href="{{ path('admin_business_therapists_path', { id: business.getId, slug: business.getSlug }) }}" id="therapists-link">
          <i class="fa fa-book fa-lg"></i>
          Therapists
        </a>
      </li> <!-- /#therapists -->

      <!--<li role="presentation" id="users"><a href="#" id="users-link"><i class="fa fa-user fa-lg"></i>Users</a></li>
      <li role="presentation" id="statistics"><a href="#" id="statistics-link"><i class="fa fa-line-chart fa-lg"></i>Statistics</a></li>-->
      {% endif %}
      <!--<li role="presentation" id="settings"><a href="#" id="settings-link"><i class="fa fa-cogs fa-lg"></i>Settings</a></li>-->
    </ul>
  </nav>

  <section id="admin-main">

    <div class="alert" role="alert">
      <ul>
        {% for flashMessage in app.session.flashbag.get('notice') %}
          <li class="notice">
              {{ flashMessage }}
          </li>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
          <li class="error">
              {{ flashMessage }}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="admin-main-inner">
      {% block body %}{% endblock %}
    </div>

  </section>

</main>

<!-- footer -->

{% javascripts
    '@vendor_assets'
    'assets/js/*'
    filter='uglifyjs2' output='js/application.js' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% block javascripts %}{% endblock %}
</body>
</html>
