<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

    <title>{% block title %}BiBeauty{% endblock %}</title>
    {% stylesheets
        'assets/css/main.scss'
        filter='sass,cssrewrite' output='css/main.css' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
</head>
<body class="admin">

<nav class="navbar navbar-default navbar-fixed-top" id="primary-nav" role="navigation">
    <div class="container-fluid">
      <a href="#" class="hide-menu btn btn-default">
        <span><i class="glyphicon glyphicon-menu-hamburger"></i> Hide Menu</span>
      </a>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="btn btn-default">
              <span class="account-label">My Account</span>
              <span class="account-icon"><img src="{{asset('assets/images/account-generic.png') }}"></span>
              <span class="account-email">{{ app.user.getEmail() }}</span>
            </a></li>
            <li><a href="{{path('logout_path')}}" class="btn btn-default">Logout</a></li>
        </ul>
    </div>
</nav>

<main>

  <nav id="secondary">
    <ul class="nav nav-pills nav-stacked">
      <li class="header"><a href="#" disabled><i class="fa fa-cutlery fa-lg"></i>Business<i class="fa fa-pencil fa-lg"></i></a></li>
      <li role="presentation" class="active" id="home"><a href="#" id="home-link"><i class="fa fa-home fa-lg"></i>Home</a></li>
      <li role="presentation" id="bookings"><a href="{{path('admin_bookings_path')}}" id="bookings-link"><i class="fa fa-book fa-lg"></i>My Bookings</a></li>
      <li role="presentation" id="services"><a href="{{path('admin_services_path_no_business')}}" id="services-link"><i class="fa fa-glass fa-lg"></i>My Services</a></li>
      <li role="presentation" id="therapists"><a href="#" id="therapists-link"><i class="fa fa-book fa-lg"></i>Therapists</a></li>
      <li role="presentation" id="users"><a href="#" id="users-link"><i class="fa fa-user fa-lg"></i>Users</a></li>
      <li role="presentation" id="statistics"><a href="#" id="statistics-link"><i class="fa fa-line-chart fa-lg"></i>Statistics</a></li>
      <li role="presentation" id="settings"><a href="#" id="settings-link"><i class="fa fa-cogs fa-lg"></i>Settings</a></li>
    </ul>
  </nav>

  <section id="admin-main">

    <div class="alert" role="alert">
      <ul>
        {% for flashMessage in app.session.flashbag.get('notice') %}
          <li class="notice">
              {{ flashMessage }}
          </li>
        {% endfor %}
        {% for flashMessage in app.session.flashbag.get('error') %}
          <li class="error">
              {{ flashMessage }}
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="admin-main-inner">
      {% block body %}{% endblock %}
    </div>

  </section>

</main>

<!-- footer -->

{% javascripts
    '@vendor_assets'
    'assets/js/*'
    filter='uglifyjs2' %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% block javascripts %}{% endblock %}
</body>
</html>
