{% extends 'base.html.twig' %}

{% block body %}

<section id="top-slider">
    <div class="jumbotron">
        <div class="container">
            <h1>Discounted Beauty Treatments</h1>
            <p class="lead">For Last Minute Bookings</p>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="form-transparent-wrapper">
                  <form action="{{path('listings_search_path')}}">
                    <div class="row">
                      <div class="col-md-3 col-sm-6">
                        <label class="sr-only" for="JumboLocation">Name</label>
                        <input type="text" name="location" class="form-control input-lg" id="JumboLocation" placeholder="Location" value="Los Angeles" disabled>
                      </div> <!-- /.col -->
                      <div class="col-md-3 col-sm-6">
                        <label class="sr-only" for="JumboTreatment">Treatment</label>
                        <select class="form-control input-lg" name="treatment" aria-describedby="JumboTreatment">
                          <option style="color: #999;" value="">Select a Treatment</option>
                          {% for category in categories %}
                          <optgroup label="{{category.getLabel}}">
                          {% for subcategory in category.getChildren %}
                            <option value="{{subcategory.id }}">{{subcategory.getLabel}}</i>
                          {% endfor %}
                          </optgroup>
                          {% endfor %}
                        </select>
                      </div> <!-- /.col -->
                      <div class="col-md-3 col-sm-6">
                          <label class="sr-only" for="JumboDate">Date</label>
                          <div class="input-group input-group-lg">
                              <span class="input-group-addon" id="JumboDate">
                                  <i class="fa fa-calendar"></i>
                              </span>
                              <select class="form-control" name="date" aria-describedby="JumboDate">
                                <option value="all">Date</option>
                                <option value="all">Today &amp; Tomorrow</option>
                                <option value="today">Today</option>
                                <option value="tomorrow">Tomorrow</option>
                              </select>
                          </div>
                      </div> <!-- /.col -->
                      <div class="col-md-3 col-sm-6" id="searchbar-front">
                        <button type="submit" class="btn btn-default btn-lg"><i class="fa fa-search"></i> Search</button>
                      </div> <!-- /.col -->
                    </div> <!-- /.row -->
                  </form>
                </div> <!-- /.form-transparent-wrapper-->
              </div> <!-- /.col -->
            </div> <!-- /.row -->

        </div>
    </div>
</section>

<section id="popular-categories">

    <div class="container">

        <div class="section-header">
            <h2>Popular Categories</h2>
            <h4>SEARCH AND BOOK GREAT DEALS FOR THESE AND MORE</h4>
        </div>

        <div class="row">
            {% for category in categories | slice(0, 6) %}
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6 image-wrapper">
                <a href="{{path('listings_search_path')}}?treatment={{ category.getId }}" class="thumbnail" id="image-zoom">
                  <img src="{{ asset('assets/images/category-thumbnails/') }}{{ category.getLabel | lower | slugify }}.png" class="img-responsive" alt="{{category.getLabel}}">
                </a>
            </div>
            {% endfor %}

        </div>

    </div>

</section>
<hr>
<section id="how-it-works">
    <div class="container">

        <div class="section-header">
            <h2>How it Works</h2>
            <h4>SEARCH AND BOOK BEAUTY TREATMENTS FOR TODAY &amp; TOMORROW AT HEAVILY DISCOUNTED RATES</h4>
        </div>

        <img src="{{ asset('assets/images/feature.jpg') }}" class="img-responsive" alt="">

    </div>
</section> <!-- /#how-it-works -->
<hr>

{% if deals | length > 0 %}
<section id="latest-deals">
    <div class="container">

        <div class="section-header">
            <h2>Latest Deals</h2>
        </div>
        <div class="row">
            {% for offer in deals %}
            {% set business = offer.getBusiness %}
            <div class="col-lg-offset-0 col-lg-4 col-md-offset-0 col-md-4 col-sm-offset-0 col-sm-4 col-xs-offset-3 col-xs-6 col-xs-offset-3">
                <div class="thumbnail" id="deals-border">
                    <img src="{{ asset('assets/images/deals/1.png') }}" class="img-responsive" alt="...">
                    <div class="caption">
                      <div class="subcaption">
                        <div class="subcaption-inner">
                          <strong>{{ offer.getDiscountPercentage }}%</strong> OFF {{offer.getTreatment.getLabel}}
                        </div>
                      </div>
                        <div class="deal-title">
                            <div class="row">
                                <div class="col-sm-9">
                                  <span class="deals-title">{{ business.getName }}</span>
                                  <span class="stars">
                                    {{ business.getAverageRating | rating }}
                                  </span>
                                </div>
                                <div class="col-sm-3"><strike id="deals-text"><small>${{ offer.getTreatment.getOriginalPrice | number_format(2) }}</small></strike><big class="deal-text-current"> ${{ offer.getCurrentPrice | number_format(2) }} </big></div>
                            </div>
                        </div>
                        <p><a href="{{ path('business_path', {id: business.getId, slug: business.getSlug }) }}" class="btn btn-primary center-block" role="button">View Deal</a></p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div> <!-- /.row -->

    </div>

</section> <!-- #/latest-deals -->
{% endif %}

<section id="get-started">

  <div class="container">

    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="well well-lg">

          <h2>Add your business now to fill those<br>last minute appointments</h2>

          <a class="btn btn-primary btn-lg" href="{{ path('signup_route') }}">Get Started</a>

        </div>
      </div>
    </div>

  </div> <!-- /.container -->

</section>

{% endblock %}
