{% extends 'base.html.twig' %}

{% block body %}

<section id="header" style="background-color: white; padding-bottom: 0px;">
  <div class="container">
    <a href="#">
      <img src="{{ asset('assets/images/bibeauty-new-header.jpg') }}" alt="">
    </a>
  </div>
</section>

<section id="bibeauty-box">

  <div class="overlay">

    <div class="container">

      <div class="row">

        <div class="col-md-offset-2 col-md-8">

          <div class="section-header">
            <h2>NEW BiBeauty Box for Professionals</h2>
          </div>

          <div class="row border-between">

            <div class="col-md-7">
              <p>We’re a Health &amp; Beauty marketplace for Professionals. We often send our registered Professionals free products, samples, offers and more. Simply let us know the products &amp; brands you’re interested in and we’ll get you what you want! And remember - it’s FREE. Create a Professional Profile with us and receive even more!</p>

              <p><a class="btn btn-primary" href="{{ path('signup_route') }}">
                Get your NEW BiBeauty Box <i class="glyphicon glyphicon-triangle-right"></i>
              </a></p>

            </div>

            <div class="col-md-5">

              <p><strong>ALREADY RECEIVED YOUR PROFESSIONAL BEAUTY BOX?</strong></p>
              <p>Tell us what you love &amp; get more FREE!</p>

              <p><a class="btn btn-primary" href="{{ path('signup_route') }}">
                Tell us what you love <i class="glyphicon glyphicon-triangle-right"></i>
              </a></p>

            </div>

          </div> <!-- /.row -->

        </div> <!-- /.col -->

      </div> <!-- /.row -->

    </div>

  </div>

</section>

<section id="top-slider">
    <div class="jumbotron">
        <div class="container">
            <h1>Search and Book Local Beauty<br>Treatments Last Minute</h1>

            <div class="row">
              <div class="col-md-10 col-md-offset-1">
                <div class="form-transparent-wrapper">
                  <form action="{{path('listings_search_path')}}" class="form-inline">

                    <input type="hidden" name="low" value="rating">

                    <div class="form-group">
                      <label class="sr-only" for="JumboLocation">Name</label>
                      <input type="text" name="location" class="form-control input-lg" id="JumboLocation" placeholder="Location" value="Los Angeles" disabled>
                    </div> <!-- /.form-group -->

                    <div class="form-group" id="TreatmentSelect-Wrapper">
                      <label class="sr-only" for="JumboTreatment">Enter Treatment</label>
                      <select data-minimumResultsForSearch="1" data-placeholder="Enter Treatment" class="form-control input-lg" name="treatment" aria-describedby="JumboTreatment">
                        <option style="color: #999;" value="">Treatment</option>
                        {% for category in categories %}
                          <option value="{{category.id }}" class="top-level">{{category.getLabel}}</option>
                          {% for subcategory in category.getChildren %}
                            <option class="bottom-level" value="{{subcategory.id }}">- {{subcategory.getLabel}}</option>
                              {% for subsubcategory in subcategory.getChildren %}
                              <option class="bottom-level" value="{{subsubcategory.id}}">-- {{subsubcategory.getLabel}}</option>
                              {% endfor %}
                          {% endfor %}
                        {% endfor %}
                      </select>
                    </div> <!-- /.form-group -->

                    <select class="sr-only" name="date" aria-describedby="JumboDate" id="DateSelect">
                      <option value="all">Date</option>
                      <option value="all">Today or Tomorrow</option>
                      <option value="today">Today</option>
                      <option value="tomorrow">Tomorrow</option>
                    </select>

                    <div class="form-group">
                        <label class="sr-only" for="JumboDate">Today?</label>
                        <div class="checkbox">
                          <label>
                            Today
                            <input type="checkbox" class="ghetto-checkbox" value="today" checked="checked">
                          </label>
                        </div>
                    </div> <!-- /.form-group -->

                    <div class="form-group">
                        <label class="sr-only" for="JumboDate">Tomorrow?</label>
                        <div class="checkbox">
                          <label>
                            Tomorrow
                            <input type="checkbox" class="ghetto-checkbox" value="tomorrow" checked="checked">
                          </label>
                        </div>
                    </div> <!-- /.form-group -->

                      <div class="form-group" id="searchbar-front">
                        <button type="submit" class="btn btn-default btn-lg">Search</button>
                      </div> <!-- /.form-group -->

                  </form>
                </div> <!-- /.form-transparent-wrapper-->
              </div> <!-- /.col -->
            </div> <!-- /.row -->

        </div>
    </div>
</section>

<section id="get-involved">

    <div class="container">

        <div class="section-header">
            <h2>Want to Get Involved?</h2>
            <br>
        </div>

        <div class="row">

          <div class="col-md-10 col-md-offset-1">

            <div class="row border-between">

              <div class="col-md-5 col-md-offset-1">

                <h4>Local Hands</h4>

                <p>Are you a Therapist and want to create your free profile and begin receiving bookings?</p>

                <p><a class="btn btn-primary" href="{{ path('admin_new_businesses_path') }}">
                  Add Your Business
                </a></p>

                <p>Interested in offering a Treatment with one of our Skincare Packages?</p>

                <p><a class="btn btn-primary" href="{{ path('contact_path') }}">
                  Contact Us
                </a></p>

              </div>

              <div class="col-md-5">

                <h4>Boutique Brands</h4>

                <p>Have a boutique brand and want to participate in one of our Skincare packages?</p>

                <p><a class="btn btn-primary" href="{{ path('contact_path') }}">
                  Contact Us
                </a></p>

              </div>

            </div> <!-- /.row -->

          </div>

        </div>

    </div>

</section>

<style type="text/css">
.select2-dropdown {
  border: 0px;
  border-radius: 0;
}

.select2-container .bottom-level {
  display: none;
}

.select2-container .top-level {
  background-color: #e5e5e5;
  font-weight: bold;
  margin-bottom: 4px;
  margin-top: 4px;
}

.select2-container .top-level:first-child {
  margin-top: 0px;
}

.select2-container.select2-has-query .bottom-level {
  display: list-item;
}
</style>
{% endblock %}
{% block javascripts %}
<script>
  jQuery(function($) {
    $('select[name="treatment"]').select2({
      templateResult: function (data, container) {
        if (data.element) {
          $(container).addClass($(data.element).attr("class"));
        }
        return data.text;
      },
      sorter: function(results, container) {
        var query = $('.select2-search__field').val().toLowerCase();
        var element = $('.select2-container');

        if (query) {
          element.addClass('select2-has-query');
        } else {
          element.removeClass('select2-has-query');
        }

        return results;
      }
    });
    $('.select2-container').on('click', function() {
      var query = $('.select2-search__field');
      query.focus();
    });

  });
</script>
{% endblock %}
