<section class="top-map" class="col-md-12">
<div id="map_results"></div>
</section>
<section class="below-map col-md-12">
  <div class="col-md-3" class="filters-sidebar pull-left">
    <form>
      <div class="form-group">
        <h3>Availability</h3>
        <select id="day" name="day" class="form-control"><option>Day</option></select>
        <select id="time" name="time" class="form-control"><option>Time</option></select>
      </div>
      <div class="form-group">
        <h3>Location</h3>
        <input type="text" id="location" name="location" class="form-control" placeholder="Enter Area or postcode"/>
      </div>
      <div class="form-group">
        <h3>Treatment Type/Category</h3>
        <select id="treatment_type" name="treatment_type" class="form-control"><option>Treatment Type</option></select>
        <select id="treatment" name="treatment" class="form-control"><option>Treatment</option></select>
      </div>
    </form>
  </div>
  <div id="search_results" class="col-md-8">
    {% if results %}
      {% for result in results %}
        <div class="result">
          <div class="row location">
            <div class="col-md-9">
            <h3 class="business-name">{{result.business_name}}</h3>
            <div class="reviews">
              <!--<img src="{{ asset( ~ result.stars_img ~ )}}" class="stars" />-->
              <i class="glyphicon glyphicon-map-marker"></i>
              <div class="reviews-number">{{result.num_reviews}} Reviews</div>
              <a href="{{result.map_link}}"><img src="/images/loc-icon.png" />Show on Map</a>
              <div class="location">{{city}},{{state}}</div>
              <div class="description>">{{description}}</div>
            </div>
            <div class="col-md-3"><img class="business-logo" src="{{logo}}"/></div>
          </div>
          <ul class="list-group">
            {% for treatment in result.treatments %}
            <li class="list-group-item">
              <a href="treatment/detail/{{treatment.id}}">
                <div class="col-md-8 treatment-name">{{treatment.name}}</div>
                <div class="col-md-3">
                  <div class="col-md-6">Save <span class="blue">{{treatment.percent_discount}}%</span></div>
                  <div class="col-md-6 notify-btn"><a href="#">From ${{treatment.start_dollars}}</a></div>
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
          <div class="notify-btn"><a href="#">Show {{treatment.num_remaining}} More</a></div>
        </div>
      {% endfor %}
    {% else %}
      <div class="alert alert-warning">Sorry There are no Results.</div>
    {% endif %}
  </div>
</section>
