{% extends 'admin.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    Treatments for {{ business.getName }}
    <a class="admin-btn" href="{{ path('admin_business_treatments_new_path', { slug: business.getSlug, id: business.getId })}}">
      <i class="fa fa-plus fa-lg"></i><strong>Add a treatment</strong>
    </a>
  </div>
  <div class="panel-body">
    {% if treatments.count > 0 %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Category</th>
            <th>Treatment</th>
            <th>Full Price</th>
            <th>Duration</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          {% for treatment in treatments %}
          <tr>
            <td>
              <a href="{{ path('admin_treatment_show_path',{
                'id': business.getId,
                'slug': business.getSlug,
                'treatmentId': treatment.getId
                }) }}">{{ treatment.id }}</a>
            </td>
            <td>{{ treatment.getTreatmentCategory.getCategoryName }}
            <td>{{ treatment.getLabel }}</td>
            <td>${{ treatment.getOriginalPrice }}</td>
            <td>{{treatment.getDuration | duration }}</td>
            <td>
              <a href="{{ path('admin_treatment_show_path',{
                'id': business.getId,
                'slug': business.getSlug,
                'treatmentId': treatment.getId
                }) }}">Edit</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No treatments are added.</p>
    {% endif %}
  </div>
</div>

<!-- Modal -->
<!--<div class="modal fade" id="add-service" tabindex="-1" role="dialog" aria-labelledby="add-service-category-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      {#{ form_start(serviceForm) }#}
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="add-service-category-label">Add Treatment</h4>
        </div>
        <div class="modal-body">
          {#{ form_widget(serviceForm) }#}
          {#% include "account/availability/form.html.twig" %#}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" value="Create"
               class="btn btn-primary" />
        </div>
      {#{ form_end(serviceForm) }#} <!-- /. form -->
  <!--  </div>
  </div>
</div>-->

{% endblock %}
