{% extends 'admin.html.twig' %}

{% block body %}
{% include 'shared/adminnav.html.twig' %}
<div class="panel panel-default transparent">
  <div class="panel-heading">
    <div class="centered">
    <img src="{% if business.hasLogoAttachment %}
                {{ business.getLogoAttachment.getKey | s3 }}
            {% else %}
                {{ asset('assets/images/placeholder-image1.png') }}
            {% endif %}"  />
    </div>
  </div>
  <div class="panel-body">

    {% include 'shared/treatmentadder.html.twig' %}
    <div class="col-md-8">
      {% if txs|length > 0 %}
      <form class="form-inline" role="form" method="post" action="{{path('admin_business_treatments_addedit_path', {id:business.getId, slug:business.getSlug}) }}" >
        {% for cat,cattxs in txs %}
        <h4>{{cat}}</h4>
        <div class="table-responsive shadow">
          <table data-cat="{{cat}}" class="table table-striped">
            <thead>
              <tr>
                <th>Treatment</th>
                <th>Name</th>
                <th>Duration</th>
                <th>Full Price</th>
              </tr>
            </thead>
            <tbody>
              {% for tx in cattxs %}
              <tr data-id="{{tx.getId}}">
                <td><span class="cat-icon">{{ cat[:1] }}</span>{{ tx.getLabel }}<input type="hidden" name="category[]" value="{{tx.getTreatmentCategory.getId}}"/><input type="hidden" name="id[]" value="{{tx.getId}}"/></td>
                <td><div class="input-group "><input type="text" class="form-control" name="name[]" value="{{ tx.getName }}"/></div></td>
                <td><div class="input-group "><input type="text" class="form-control" name="duration[]" value="{{tx.getDuration}}" /><span class="input-group-addon">min.</span></div></td>
                <td>
                  <div class="input-group "><span class="input-group-addon">$</span>
                    <input type="text" class="form-control" name="originalPrice[]" value="{{ tx.getOriginalPrice }}" />
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      {% endif %}
      {#{ form_start(form) }#}

        {#{ form_widget(form) }#}
        <input type="submit" value="Add Treatments"
             class="btn btn-primary pull-right" />
      {#{ form_end(form) }#} <!-- /. form -->
    </form>
    </div>
  </div>
</div>


{% endblock %}
{% block javascripts %}<script>
  jQuery(document).ready(function(){
      txAdder.init();
  });
</script>{% endblock %}
