{% extends 'admin.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    {{ business.getName }}
    <a href="{{ path('admin_business_services_new_path', { id: business.getId, slug: business.getSlug })}}" class="admin-btn"><i class="fa fa-plus fa-lg"></i><strong>Add a treatment</strong></a>
    <a href="#" class="admin-btn"><i class="fa fa-trash-o fa-lg"></i><strong>Delete</strong></a>
  </div>
  <div class="panel-body">
    {{ form_start(businessForm) }}
        {{ form_widget(businessForm) }}
        <input type="submit" value="Edit Business"
             class="btn btn-primary" />
    {{ form_end(businessForm) }} <!-- /. form -->
  </div>
</div>

{% endblock %}
