<p>Hi {{ booking.getName }},</p>

<p>Your booking request is now with {{ business.getName }} for:</p>

<p>{{ treatment.getName }}<br>
{{ offer.getCurrentPrice }}<br>
{{ availability.getDayText }} {{ availability.getTimeText }}<br>
{{ treatment.getDuration }}</p>

<p>{{ business.getName }} is reviewing your booking request. You’ll receive a confirmation email and SMS if this Booking request is Confirmed or Declined. If you wish to get in touch with {{business.getName}} with questions or to cancel your appointment you can reach them at the following;</p>

<p>{{ business.getAddress.getAddressString }}<br>
{{ business.getMobile }}<br>
{{ business.getEmail }}</p>

<p>Big love,</p>

<p><strong>The BiBeauty Team</strong></p>
