<p>Hi {{ booking.getName }},</p>

<p>Your booking request with {{business.getName}} has been APPROVED. Your treatment details are:</p>

<p>{{ treatment.getName }}<br>
${{ offer.getCurrentPrice }}<br>
{{ availability.getDayText }} {{ availability.getTimeText }}<br>
{{ treatment.getDuration }}</p>

<p>{{ business.getAddress.getAddressString }}<br>
{{ business.getMobile }}<br>
{{ business.getEmail }}</p>

<p>If you have questions about the treatment or wish to cancel your appointment, please get in touch with {{ business.getName }} directly.</p>

<p>Big love,</p>

<p><strong>The BiBeauty Team</strong></p>
