<p>Hi {{ booking.getName }},</p>

<p>Unfortunately, your booking request with {{ business.getName }} has been declined. This may because a therapist was no longer available, earlier appointments overran or other reasons that simply mean the time and treatment has become suddenly unavailable.</p>

<p>Your requested treatment details were:</p>

<p>{{ treatment.getName }} + {{ treatment.getDuration }}<br>
{{ offer.getCurrentPrice }}<br>
{{ availability.getDayText }} {{ availability.getTimeText }}</p>

<p>{{ business.getAddress.getAddressString }}<br>
{{ business.getMobile }}<br>
{{ business.getEmail }}</p>

<p>If you have questions about the treatment or appointment, please get in touch with {{ business.getName }} directly.</p>

<p>Not to worry – there may be other discounted treatments available in your area available for you to book.</p>

<a href="{{ link }}">See more deals</a>

<p>Big love,</p>

<p><strong>The BiBeauty Team</strong></p>
