{% extends 'base.html.twig' %}

{% block body %}
<div class="componentBody">
  <section id="top-map" class="nav-pad">
    <div id="results-map-wrapper"></div>
  </section>
  <section id="below-map">
    <div class="container">

      <div class="row">
        <div class="col-md-6 col-md-offset-3">

          <nav class="subnav-header">

            <div class="btn-group btn-group-justified hidden-xs hidden-sm" role="group">
              <div class="btn-group" role="group">
                <a class="btn btn-default sort-link {% if sort == 'low' %}active{% endif %}" href="#low">Price Low-High</a>
              </div>
              <div class="btn-group" role="group">
                <a class="btn btn-default sort-link {% if sort == 'high' %}active{% endif %}" href="#high">Price High-Low</a>
              </div>
              <div class="btn-group" role="group">
                <a class="btn btn-default sort-link {% if sort == 'rating' %}active{% endif %}" href="#rating">Rating</a>
              </div>
            </div> <!-- .btn-group -->

            <div class="visible-xs visible-sm">
              <div class="dropdown dropdown-navigation">
                <button class="btn btn-navigation dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  {% if sort == 'low' %}
                    Price Low-High
                  {% elseif sort == 'high' %}
                    Price High-Low
                  {% else %}
                    Rating
                  {% endif %}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu multi-level">

                  <li><a class="btn btn-default sort-link {% if sort == 'low' %}active{% endif %}" href="#low">Price Low-High</a></li>
                  <li><a class="btn btn-default sort-link {% if sort == 'high' %}active{% endif %}" href="#high">Price High-Low</a></li>
                  <li><a class="btn btn-default sort-link {% if sort == 'rating' %}active{% endif %}" href="#rating">Rating</a></li>

                </ul>
              </div> <!-- /.dropdown -->
            </div>

          </nav>

        </div> <!-- /.col-md-6 -->
      </div>

      <div class="row">
        {{ form_start(form, { 'attr': { 'class': 'search-form' } }) }}

        <div class="col-md-4">
          <div class="search-form-sidebar card">

            <h4>Search</h4>

            <input type="hidden" name="sort" value="{{ sort }}">

            <div class="row">

              <select class="sr-only" name="date" aria-describedby="JumboDate" id="DateSelect">
                <option value="all">Date</option>
                <option value="all">Today or Tomorrow</option>
                <option value="today">Today</option>
                <option value="tomorrow">Tomorrow</option>
              </select>

              <div class="col-sm-6">
                <div class="form-group">
                    <label class="sr-only" for="JumboDate">Today?</label>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="ghetto-checkbox" value="today" checked="checked">
                        Today
                      </label>
                    </div>
                </div> <!-- /.form-group -->
              </div>

              <div class="col-sm-6">
                <div class="form-group">
                    <label class="sr-only" for="JumboDate">Tomorrow?</label>
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" class="ghetto-checkbox" value="tomorrow" checked="checked">
                        Tomorrow
                      </label>
                    </div>
                </div> <!-- /.form-group -->
              </div>

            </div>

              <div class="form-group">

                <p>
                  <select class="form-control" name="time">
                    <option value="all" {% if params['time'] == 'all' %}selected="selected"{% endif %}>Anytime</option>
                    <option value="morning" {% if params['time'] == 'morning' %}selected="selected"{% endif %}>Morning (until 12pm)</option>
                    <option value="afternoon" {% if params['time'] == 'afternoon' %}selected="selected"{% endif %}>Afternoon (12-5pm)</option>
                    <option value="evening" {% if params['time'] == 'evening' %}selected="selected"{% endif %}>Evening (5pm-12am)</option>
                  </select>
                </p>

              </div> <!-- /.form-group -->

              <div class="form-group">
                {{ form_widget(form.location, { placeholder: 'Enter Zip code', id: 'LocationField' })}}
                {{ form_errors(form.location) }}
              </div> <!-- /.form-group -->

              <div class="form-group">

                <div class="input-group TreatmentTypesGroup">
                  <select class="form-control" id="TreatmentSelect" name="treatment" data-placeholder="Select a Treatment">
                    <option></option>
                    {% for category in categories %}
                      <option value="{{category.id }}">{{category.getLabel}}</option>
                      {% for subcategory in category.getChildren %}
                        <option value="{{subcategory.id }}">- {{subcategory.getLabel}}</option>
                          {% for subsubcategory in subcategory.getChildren %}
                          <option value="{{subsubcategory.id}}">-- {{subsubcategory.getLabel}}</option>
                          {% endfor %}
                      {% endfor %}
                    {% endfor %}
                  </select>
                </div>
              </div> <!-- /.form-group -->

              <div class="form-group">
                <label>Price Range</label>
                <div class="range">

      	           <input type="text" id="amount_left" name="min" readonly value="{{params['min']}}" />
                   <input type="text" id="amount_right" name="max" readonly value="{{params['max']}}" />
                   <div id="slider-range" data-min="{{params['min']}}" data-max="{{params['max']}}"></div>
                </div>
                <!--input type="range" id="weight" min="10" value="10" max="2000" step="100"-->
              </div> <!-- /.form-group -->

          </div> <!-- /.search-form-sidebar -->

          <button class="btn btn-lg btn-primary">Update</button>
          <p>&nbsp;</p>

          {# <hr class="fullwidth">

          <p class="text-muted">Didn't find a time or day that works? Let us know what you’re looking for and we’ll notify you when it become available.</p>

          <a class="btn btn-lg btn-primary" href="#">Notify</a> #}
          {{ form_widget(form._token) }}

        </div> <!-- /.col-md-4 -->

        {{ form_end(form, {'render_rest': false}) }}

        <div class="col-md-8">

          {% if results | length > 0 %}
            {% for business in results %}

            <div class="card service-card business">
              <div class="panel-heading clearfix">
                <div class="inner">
                  {% if business.hasLogoAttachment %}
                  <div class="pull-left floated-image img-circle"
                    style="background-image: url('{{ business.getLogoAttachment.getKey | s3 }}')">
                  </div>
                  {% endif %}
                  <h1>
                    <a href="{{ path('business_path', { 'id': business.getId, 'slug': business.getSlug })}}">{{business.getName}}</a>
                    <div class="stars">
                      {{ business.getAverageRating | rating }} from <a href="{{ business.getYelpLink }}">Yelp&trade;</a>
                    </div>
                  </h1>
                  <h2>{{business.getAddress.getStreet}}, {{business.getAddress.getCity}}, {{ business.getAddress.getState }}</h2>
                  <p><a class="map-icon map-link"
                     target="_blank"
                     data-business-id="{{ business.getId }}"
                     href="{{ business.getAddress.getGoogleMapsUrl }}">Show on map
                    {% if business.getDistanceFrom %}
                    <span class="badge">{{business.getDistanceFrom | round(1, 'floor')}} miles </span>
                    {% endif %}
                  </a></p>
                </div>
              </div>
              <div class="panel-body">
                {# This is where the individual services go, as their own accordions #}
                {% if business.getOffersTreatmentHierarchy | length > 0 %}
                <ul class="list-group">
                  {% for treatment in business.getOffersTreatmentHierarchy %}
                  <li class="list-group-item clearfix">
                    <span class="service-name">
                      {{ treatment.getName }}
                    </span>
                    <div class="pull-right">
                      <span class="almost-side-btn">
                        Save <span class="blue">{{ treatment.getCheapestDiscountPercentage }}%</span>
                      </span>
                      <a class="btn btn-primary" data-treatment-id="{{ treatment.getId }}" href="{{ path('treatments_path', {
                        id: business.getId,
                        slug: business.getSlug,
                        treatment: treatment.getId })
                      }}">
                        ${{ treatment.getCheapestDiscountPrice | number_format(2) }}
                      </a>
                    </div>
                  </li>
                {% endfor %}
                  <li class="list-group-item">
                    <a href="{{ path('business_path', {
                      id: business.getId,
                      slug: business.getSlug
                     })
                    }}">
                      See All</big> <i class="fa fa-chevron-right"></i>
                    </a>
                  </li> <!-- .list-item-group -->
                </ul>
                {% endif %}
                {# end services #}
              </div>
            </div> <!-- .panel-default -->
            {% endfor %}

            {% if totalPages > 1 %}
            <nav>
              <ul class="pagination">
                <li>
                  <a href="{{ path('listings_search_path', app.request.query | merge({'page': 1})) }}">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                {# We do not want all of the pages #}
                {% for i in processedPages %}
                  <li
                  {% if i == currentPage %}
                  class="active"
                  {% endif %}
                  ><a href="{{ path('listings_search_path', app.request.query | merge({'page': i})) }}">{{i}}</a></li>
                {% endfor %}
                <li>
                  <a href="{{ path('listings_search_path', app.request.query | merge({'page': totalPages})) }}">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>

              </ul>
            </nav>
            {% endif %}

          {% else %}
            <p>There are no results</p>
          {% endif %}

        </div> <!-- /.col-md-8 -->

      </div>

    </div> <!-- /.container -->
  </section> <!-- /#below-map -->
</div>

{% endblock %}
{% block javascripts %}
<script>
  jQuery(document).ready(function(){
    var treatment;
    {% if params['treatment'] %}
    treatment = {{params['treatment']}};
    {% endif %}

    var selectBox = $('#TreatmentSelect');
    selectBox.select2({
      placeholder: 'Select a Treatment'
    });

    if (treatment)
      selectBox.val(treatment).trigger('change');

  });
</script>
{% endblock %}
