{% extends 'base.html.twig' %}

{% block body %}
<style>ul.treatmentTypes{list-style-type:none;
   position: absolute;
    z-index: 99;
    left: -10px;
    top: 40px;
    background-color: whitesmoke;}</style>
<div class="componentBody">
  <section id="top-map" class="nav-pad">
    <div id="results-map-wrapper"></div>
  </section>
  <section id="below-map">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="search-form-sidebar">
            {{form_start(form)}}
              <div class="form-group">
                <label for="">Availability</label>
                <div class="input-group">
                  <input type="text" id="DayField" name="day" class="form-control" placeholder="Day" value="{{params['day'] | date("m/d/Y") }}" />
                  <span class="input-group-addon"><i class="fa fa-chevron-circle-down fa-lg"></i></span>
                </div>
                <div class="input-group">
                  <input type="text" id="TimeField" name="time" class="form-control" placeholder="Time" />
                  <span class="input-group-addon"><i class="fa fa-chevron-circle-down fa-lg"></i></span>
                </div>
              </div> <!-- /.form-group -->

              <hr class="fullwidth">

              <div class="form-group">
                {{ form_label(form.location)}}
                {{ form_widget(form.location, { placeholder: 'Enter Zip code', id: 'LocationField' })}}
                {{ form_errors(form.location) }}
              </div> <!-- /.form-group -->

              <hr class="fullwidth">

              <div class="form-group">
                <label for="">Treatment Type / Category</label>
                <div class="input-group TreatmentTypesGroup">
                  <input type="text" id="TreatmentTypeField" name="TreatmentType" class="form-control" placeholder="Treatment Type" />
                  <span class="input-group-addon"><i class="fa fa-chevron-circle-down fa-lg"></i></span>
                  <ul style="display:none;" class="treatmentTypes">
                    {% for service in services %}
                      <li data-id="{{service.id }}">{{service.label}}</i>
                    {% endfor %}
                  </ul>
                  <input type="hidden" name="TreatmentTypeId" />
                </div>
                <div class="input-group">
                  <input type="text" id="TreatmentField" name="treatment" class="form-control" placeholder="Treatment" />
                  <span class="input-group-addon"><i class="fa fa-chevron-circle-down fa-lg"></i></span>
                </div>
              </div> <!-- /.form-group -->

              <hr class="fullwidth">

              <div class="form-group">
                <label for="">Price Range</label>
                <div class="range">

      	           <input type="text" id="amount_left" name="min" readonly styles="" value="{{params['min']}}" />
                   <input type="text" id="amount_right" name="max" readonly styles="" value="{{params['max']}}" />
                   <div id="slider-range"></div>
                </div>
                <!--input type="range" id="weight" min="10" value="10" max="2000" step="100"-->
              </div> <!-- /.form-group -->

              <hr class="fullwidth">

              <button class="btn btn-lg btn-primary">Update</button>

              <hr class="fullwidth">

              <p class="text-muted">Didn't find a time or day that works? Let us know what you’re looking for and we’ll notify you when it become available.</p>

              <a class="btn btn-lg btn-primary" href="#">Notify</a>
              {{ form_widget(form._token) }}

            {{ form_end(form, {'render_rest': false}) }}
          </div> <!-- /.search-form-sidebar -->

        </div> <!-- /.col-md-4 -->

        <div class="col-md-8">

          {% if results | length > 0 %}
            {% for business in results %}
              <hr>
              <div class="business">
                <div class="row">
                  <div class="col-md-7 ">
                    {% if business.hasHeaderAttachment %}
                      <img src="{{ business.getHeaderAttachment.getKey | s3 }}" class="img-responsive" alt="{{ business.getName }}">
                    {% else %}

                    {% endif %}


                    <h3>{{business.getName}}</h3>
                    <span class="stars">
                      {{ business.getAverageRating | rating }}
                      from Yelp&trade;
                    </span> <!-- /.stars -->
                    <a class="map-icon" href="#"><i class="fa fa-map-marker fa-lg"></i> Show on Map</a>
                    <div class="address">{{business.getAddress.getStreet}}, {{business.getAddress.getCity}}</div>
                    <p class="business-description">{{business.getDescription}}</p>
                  </div>
                  <div class="col-md-5">
                    <img src="{{ asset('assets/images/placeholder-image1.png') }}" width="240" height="135" class="pull-right">
                  </div>

                </div> <!-- /.row -->

                {% if business.getBookings | length > 0 %}
                <ul class="list-group">
                  {% for booking in business.getBookings %}
                  <li class="list-group-item">
                    <h4 class="panel-title clearfix">
                      {{booking.getService.description}}
                      <big>{{ booking.name }}</big>
                      <a class="btn btn-primary pull-right">
                        From
                        <strong>${# {booking.getService.getLowestPrice | number_format(2) } #}</strong>
                      </a>
                      <span class="save pull-right">
                        Save <blue>20%</blue>
                      </span>
                    </h4>
                  </li> <!-- .list-item-group -->
                  {% endfor %}

                </ul> <!-- /.list-group -->

              {% endif %}

              </div>
            {% endfor %}
          {% else %}
            <p>There are no results</p>
          {% endif %}

        </div> <!-- /.col-md-8 -->

      </div>

    </div> <!-- /.container -->
  </section> <!-- /#below-map -->
</div>

{% endblock body %}
{% block javascripts %}
<script>
  jQuery(document).ready(function(){
    jQuery('.TreatmentTypesGroup > input, .TreatmentTypesGroup>span ').on('click',function(){
      var $list = jQuery('ul.treatmentTypes');
      var $grp  = jQuery(this).parent();
      var isActive = $grp.hasClass('active');

      if(isActive){
        $list.hide();
        $grp.removeClass('active');
      }else{
        $list.show();
        $grp.addClass('active');
      }
    });
    jQuery('ul.treatmentTypes li').on('click',function(){
      jQuery('.TreatmentTypesGroup > input').val(jQuery(this).text());
      var $list = jQuery('ul.treatmentTypes');
      var $grp  = jQuery(this).parent();
      $list.hide();
      $grp.removeClass('active');
      jQuery("[name=TreatmentTypeId]").val(jQuery(this).data('id'));
    })

  });
</script>
{% endblock %}
