{% extends 'base.html.twig' %}

{% block body %}
<style>
.select2-selection.select2-selection--single{
  height: 34px;
font-size: 14px;
border-radius: 0;
color:#000;
width:360px;
}
  span.select2.select2-container.select2-container--default{width:360px;height:34px;}
  /*.select2-container--default .select2-selection--single .select2-selection__placeholder{color:#000;}*/
  .select2-container--default .select2-selection--single .select2-selection__arrow{top:6px;    right: 18px;}
  .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
      border-color: transparent transparent #000 transparent;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
      border-color: #000 transparent transparent transparent;
  }
    </style>
<div class="componentBody">
  <section id="top-map" class="nav-pad">
    <div id="results-map-wrapper"></div>
  </section>
  <section id="below-map">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="search-form-sidebar">
            {{form_start(form)}}
              <div class="form-group">
                <label for="">Availability</label>

                <p>
                  <select class="form-control" name="date">
                    <option value="all" {% if params['day'] == 'all' %}selected="selected"{% endif %}>Tomorrow or Today</option>
                    <option value="today" {% if params['day'] == 'today' %}selected="selected"{% endif %}>Today</option>
                    <option value="tomorrow" {% if params['day'] == 'tomorrow' %}selected="selected"{% endif %}>Tomorrow</option>
                  </select>
                </p>

                <p>
                  <select class="form-control" name="time">
                    <option value="all" {% if params['time'] == 'all' %}selected="selected"{% endif %}>Anytime</option>
                    <option value="morning" {% if params['time'] == 'morning' %}selected="selected"{% endif %}>Morning (until 12pm)</option>
                    <option value="afternoon" {% if params['time'] == 'afternoon' %}selected="selected"{% endif %}>Afternoon (12-5pm)</option>
                    <option value="evening" {% if params['time'] == 'evening' %}selected="selected"{% endif %}>Evening (5pm-12am)</option>
                  </select>
                </p>

              </div> <!-- /.form-group -->

              <hr class="fullwidth">

              <div class="form-group">
                {{ form_label(form.location)}}
                {{ form_widget(form.location, { placeholder: 'Enter Zip code', id: 'LocationField' })}}
                {{ form_errors(form.location) }}
              </div> <!-- /.form-group -->

              <hr class="fullwidth">

              <div class="form-group">
                <label for="">Treatment Type / Category</label>
                <div class="input-group TreatmentTypesGroup">
                  <select data-minimumResultsForSearch="1" data-placeholder="Select a Treatment" name="treatment">
                    <option style="color: #999;">Select a Treatment</option>
                    {% for category in categories %}
                    <option value="{{category.getId}}" {% if params['treatment'] == category.getId %}selected="selected"{% endif %}>{{category.getLabel}}</option>
                    {% for subcategory in category.getChildren %}
                      <option value="{{subcategory.id }}" {% if params['treatment'] == subcategory.id %}selected="selected"{% endif %}>- {{subcategory.getLabel}}</i>
                    {% endfor %}
                    {% endfor %}
                  </select>
                  </ul>
                  <input type="hidden" name="TreatmentTypeId" />
                </div>
              </div> <!-- /.form-group -->

              <hr class="fullwidth">

              <div class="form-group">
                <label for="">Price Range</label>
                <div class="range">

      	           <input type="text" id="amount_left" name="min" readonly styles="" value="{{params['min']}}" />
                   <input type="text" id="amount_right" name="max" readonly styles="" value="{{params['max']}}" />
                   <div id="slider-range" data-min="{{params['min']}}" data-max="{{params['max']}}"></div>
                </div>
                <!--input type="range" id="weight" min="10" value="10" max="2000" step="100"-->
              </div> <!-- /.form-group -->

              <hr class="fullwidth">
              <br>
              <button class="btn btn-lg btn-primary">Update</button>

              {# <hr class="fullwidth">

              <p class="text-muted">Didn't find a time or day that works? Let us know what you’re looking for and we’ll notify you when it become available.</p>

              <a class="btn btn-lg btn-primary" href="#">Notify</a> #}
              {{ form_widget(form._token) }}

            {{ form_end(form, {'render_rest': false}) }}
          </div> <!-- /.search-form-sidebar -->

        </div> <!-- /.col-md-4 -->

        <div class="col-md-8">

          {% if results | length > 0 %}
            {% for business in results %}
              <hr>
              <div class="business">
                <div class="row">
                  <div class="col-md-7 ">


                    <h3><a style="color: rgb(51, 51, 51);text-decoration:none;" href="{{path('business_path',{id:business.getId,slug:business.getSlug})}}">{{business.getName}}</a>
                      {% if business.getDistanceFrom %}
                      <span class="badge">{{business.getDistanceFrom | round(1, 'floor')}} miles </span>
                      {% endif %}
                    </h3>
                    <span class="stars">
                      {{ business.getAverageRating | rating }}
                      from Yelp&trade;
                    </span> <!-- /.stars -->
                    <a class="map-icon map-link"
                       target="_blank"
                       data-business-id="{{ business.getId }}"
                       href="{{ business.getAddress.getGoogleMapsUrl }}"
                    ><i class="fa fa-map-marker fa-lg"></i> Show on Map</a>
                    <div class="address">{{business.getAddress.getStreet}}, {{business.getAddress.getCity}}</div>
                    <p class="business-description">{{business.getDescription}}</p>
                  </div>
                  <div class="col-md-5">
                    <a href="{{ path('business_path',{id:business.getId,slug:business.getSlug}) }}" class="business-logo-search pull-right"
                    style="{% if business.hasLogoAttachment %}
                      background-image: url('{{ business.getLogoAttachment.getKey | s3 }}');
                    {% else %}
                      background-image: url('{{ asset('assets/images/placeholder-image1.png') }}');
                    {% endif %}')"
                    >
                      <span class="sr-only">{{ business.getName }}</span>
                    </a>
                  </div>

                </div> <!-- /.row -->

                {% if business.getOffersTreatmentHierarchy | length > 0 %}
                <ul class="list-group">
                  {% for treatment in business.getOffersTreatmentHierarchy %}
                  <li class="list-group-item">
                    <h4 class="panel-title clearfix">
                      <big>{{ treatment.getName }}</big>
                      <a class="btn btn-primary pull-right"
                      href="{{ path('treatments_path', {
                        id: business.getId,
                        slug: business.getSlug,
                        treatment: treatment.getId })
                      }}">
                        From
                        <strong>${{ treatment.getCheapestDiscountPrice | number_format(2) }}</strong>
                      </a>
                      <span class="save pull-right">
                        Save <span class="blue">{{ treatment.getCheapestDiscountPercentage }}%</span>
                      </span>
                    </h4>
                  </li> <!-- .list-item-group -->
                  {% endfor %}
                  <li class="list-group-item">
                    <a href="{{ path('business_path', {
                      id: business.getId,
                      slug: business.getSlug
                     })
                    }}">
                      <big>See All</big> <i class="fa fa-chevron-right"></i>
                    </a>
                  </li> <!-- .list-item-group -->

                </ul> <!-- /.list-group -->

              {% endif %}

              </div>
            {% endfor %}

            {% if totalPages > 1 %}
            <nav>
              <ul class="pagination">
                {% for i in 1..totalPages %}
                  <li><a href="{{ path('listings_search_path', app.request.query| merge({'page': i})) }}">{{i}}</a></li>
                {% endfor %}
              </ul>
            </nav>
            {% endif %}
            
          {% else %}
            <p>There are no results</p>
          {% endif %}

        </div> <!-- /.col-md-8 -->

      </div>

    </div> <!-- /.container -->
  </section> <!-- /#below-map -->
</div>

{% endblock body %}
{% block javascripts %}
<script>
  jQuery(document).ready(function(){
      jQuery('select[name="treatment"]').select2();
  });
</script>
{% endblock %}
