{% extends 'base.html.twig' %}

{% block body %}

<section id="business-information" class="nav-pad">
    <div class="jumbotron">
        <div class="container">
            <h1>{{business.getName}}</h1>
            <h2>{{business.getAddress.getStreet}}, {{business.getAddress.getCity}}</h2>

            <div class="row">
              <div class="col-md-8">
                  {% if business.hasHeaderAttachment %}
                    <div class="header-attachment-wrapper" style="background-image: url({{ business.getHeaderAttachment.getKey | s3 }})">
                  {% else %}
                    <div class="header-attachment-wrapper" style="">
                  {% endif %}
                  </div> <!-- /.header-attachment-wrapper -->
                <nav class="business-tab-navigation">
                  <ul class="nav nav-pills">
                    <li role="presentation" class="active"><a href="#">Overview</a></li>
                    <li role="presentation"><a href="#">Services</a></li>
                    <li role="presentation"><a href="#">Reviews</a></li>
                  </ul>
                </nav>
              </div> <!-- /.col -->
              <div class="col-md-4">

                <aside class="business-aside">

                  <div class="ratings">

                    <div class="row">
                      <div class="col-sm-5">
                        <div class="ratings-lead">
                          <small>Rating</small><br>
                          <span class="ratings-number">
                            {{business.getAverageRating}}
                          </span>
                        </div>
                        <div class="stars">
                          {{ business.getAverageRating | rating }}
                        </div> <!-- /.stars -->
                        <p>From Yelp</p>
                      </div>
                      <div class="col-sm-7">

                      </div>
                    </div>

                    <a class="btn btn-primary btn-fullwidth btn-lg">
                      Reserve Now
                    </a>

                  </div>

                  <hr>

                  <div class="business-info">
                    <h1>{{business.getName}}</h1>
                    <h2>{{business.address.getFullAddressString}}</h2>

                    <ul class="nav nav-list">
                      <li class="active"><a href="{{business.address.getGoogleMapsUrl}}" target="_blank">
                        Show on Map
                      </a></li>
                      <li><a href="tel:{{business.getAddress.getPhone | phone}}">
                        {{business.getAddress.getPhone | phone}}
                      </a></li>
                      {% if business.getEmail %}
                      <li><a href="mailto:{{business.getEmail}}" class="email-link">
                        {{business.getEmail}}
                      </a></li>
                      {% endif %}
                      {% if business.getWebsite %}
                      <li><a href="{{business.getWebsite}}" target="_blank" class="website-link">
                        {{business.getWebsite}}
                      </a></li>
                      {% endif %}
                    </ul>
                  </div>

                  <hr>

                  <div class="business-hours">
                    <h3>Opening Hours</h3>
                    <dl class="dl-horizontal">
                      <dt>MON-SUN</dt>
                      <dd>2-3</dd>
                    </dl>
                  </div>

                  <div class="payment-info">
                    <h3>We Accept</h3>
                  </div>

                </aside>

              </div>
            </div> <!-- /.row -->

        </div>
    </div> <!-- /.jumbotron -->

    <div class="business-main-content">
      <div class="container">
        <div class="business-description">
          <div class="row">
            <div class="col-md-8">
                <h2>Welcome to {{business.getName}}</h2>
                <p>{{business.getDescription}}</p>
                <hr>
              </div> <!-- /.business-description -->

          </div> <!-- /.row -->
        </div>  <!-- /.business-description -->

        <div class="business-services">
          <h4>Services</h4>

          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Collapsible Group Item #1
                  </a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">
                  Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                </div>
              </div>
            </div> <!-- .panel-default -->
          </div> <!-- /.panel-group -->

          <p class="services-notify-me">
            Didn't find a time or day that works? Let us know what you’re looking for and we’ll notify you when it become available.
          </p>

          <p>
            <a class="btn btn-primary">Notify Me</a>
          </p>

        </div> <!-- /.business-services -->

        <hr>

        <div class="business-reviews">
          <h4>Ratings <small><em>(written by customers after their visit)</em></small></h4>
          <div class="panel panel-default ratings-panel">
            <div class="panel-heading">
              <div class="ratings">
                <div class="row">
                  <div class="pull-left full-rating">
                    {{business.getAverageRating}}
                  </div>
                  <div class="col-sm-6">
                    <small>Chain Rating</small>
                    <div class="stars">
                      {{ business.getAverageRating | rating }} <small>from Yelp</small>
                    </div>
                  </div>
                </div> <!-- /.row -->
              </div> <!-- /.ratings -->
            </div>
            <div class="panel-body">
              Advanced ratings coming soon.
            </div>
          </div> <!-- /.panel -->
          <hr>
            <p>Have you been here? <a class="btn btn-secondary">Write a Review</a>
          <hr>

          <div class="review-comments">
            {% for review in business.getReviews %}
            <div class="media">
              <div class="media-left media-middle">
                <img class="media-object img-circle" src="{{ review.poster.getGravatar }}" alt="{{ review.poster.getDisplayName }}">
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{ review.poster.getDisplayName }}</h4>
                <div class="ratings">
                  <div class="stars">
                    {{ review.getRating | rating }}
                  </div>
                  <em>{{ review.getCreatedAt | elapsed }}</em>
                </div>
                <p class="comment-text">{{ review.getContent }}</p>
              </div>
            </div> <!-- /.media -->
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
</section>

{% endblock %}
