{% extends 'admin.html.twig' %}

{% block toolbar %}
<div class="admin-buttons align-center align-md-right">
  <a href="{{path('admin_new_products_path')}}" class="admin-btn">
    <img src="{{ asset('assets/images/add-button-toolbar.png') }}" alt="Add">
    Add Product
  </a>
</div>
{% endblock %}

{% block body %}

  {{ form_start(form, {'attr': { 'novalidate': 'true' }} ) }}
  {{ form_widget(form) }}
  {{ form_end(form) }}

{% endblock %}
