
<div class="panel panel-default" id="formAvailabilityPanel">
  <div class="panel-body">

      {% if treatment is defined %}{% else %}
        <div class="form-group">
          <label for="Day">Treatment</label>
          <div class="select2-wrapper">
            <select class="select2 form-control" name="Treatment" style="width: 100%;">
              <option selected>Select a treatment</option>
              {% for treatmentGroup in business.getTreatmentHierarchy %}
                <optgroup label="{{treatmentGroup.label}}">
                  {% for treatment in treatmentGroup.treatments %}
                  <option value="{{treatment.getId}}">{{treatment.getName}}</option>
                  {% endfor %}
                </optgroup>
              {% endfor %}
            </select>
          </div>
        </div>
      {% endif %}

      <div class="form-group">
        <label for="Day">Date</label>
        <div class="input-group">
          <input type="text" id="DayField" name="Date" class="form-control" placeholder="Day" />
          <span class="input-group-addon"><i class="fa fa-chevron-circle-down fa-lg"></i></span>
        </div>
      </div>

      <div class="form-group">
        <label for="Time">Time</label>

        <div class="select2-wrapper">
          <select multiple="true" class="form-control select2" name="Times[]" style="width: 100%;">
            <option value="ALL">All Times</option>
          {% for hour in 7..21 %}
            {% for minute in 0..3 %}
              {% set formattedMinute = "%02d"|format(minute * 15) %}
              <option value="{{hour}}:{{formattedMinute}}">{{hour | nicehour }}:{{formattedMinute}} {{ hour | meridian }}</option>
            {% endfor %}
          {% endfor %}
          </select>
        </div>
      </div>

      {% if treatment is defined %}
      <div class="form-group">
        <label class="control-label">Original Price</label>
        <input class="form-control" name="Discount" type="i" disabled value="{{ treatment.getOriginalPrice | number_format(2) }}">
      </div>
      {% endif %}

      <div class="form-group">
        <label class="control-label">Discount Price</label>
        <input class="form-control" name="Discount">
        {% if treatment is defined %}
        <p class="help-block">
          Must be less than ${{ treatment.getOriginalPrice | number_format(2) }}
        </p>
        {% endif %}
      </div>

      <div class="form-group">
        <div class="input-group">
          <label for="">Repeat</label><br>
          <!--<input type="checkbox" name="Recurring" class="form-control" />-->
          <div class="btn-group" data-toggle="buttons">
            <label class="btn btn-primary active" >
              <input type="radio" name="RecurrenceType" checked value="never" class="form-control" /> Never
            </label>
            <label class="btn btn-primary" >
              <input type="radio" name="RecurrenceType" value="daily" class="form-control" /> Daily
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="RecurrenceType" value="weekly" class="form-control" /> Weekly
            </label>
            <label class="btn btn-primary">
              <input type="radio" name="RecurrenceType" value="monthly" class="form-control" /> Monthly
            </label>
          </div>

        </div>
      </div> <!-- /.form-group -->

      <div id="repeat-subform">

        <div class="form-group">
          <label>Days</label>

          <div>
            <label class="checkbox-inline">
              <input type="checkbox" name="RecurrenceDates[]" value="sunday"> Sunday
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" name="RecurrenceDates[]" value="monday"> Monday
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" name="RecurrenceDates[]" value="tuesday"> Tuesday
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" name="RecurrenceDates[]" value="wednesday"> Wednesday
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" name="RecurrenceDates[]" value="thursday"> Thursday
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" name="RecurrenceDates[]" value="friday"> Friday
            </label>
            <label class="checkbox-inline">
              <input type="checkbox" name="RecurrenceDates[]" value="saturday"> Saturday
            </label>
          </div>
        </div>

      </div>

      <hr>

      <p class="help-block">
        <strong>Never:</strong> Offer appears only on the selected date and times and is then removed.<br>
        <strong>Daily:</strong> Offer appears on the selected times every day of the week that you are open<br>
        <strong>Weekly:</strong> Offer appears on the same day each week and those you select.<br>
        <strong>Monthly:</strong> Offer appears on the same date scheduled each month.
      </p>

  </div>
</div>
