{% extends 'admin.html.twig' %}

{% block body %}
<!--<div class="row">
  <div class="centered">
    <button class="btn btn-large btn-primary businesses-btn">My Businesses <span class="caret"></span>
      <ul class="businesses-list hidden list-unstyled">
        {% for business in businesses %}
            <li><a href="{{ path('admin_business_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">{{business.getName}}</a></li>
        {% endfor %}
      </ul>
    </button>

  </div>

  <a class="pull-right" href="{{path('admin_new_businesses_path')}}" class="admin-btn"><i class="fa fa-plus fa-lg"></i><strong>Add a business</strong></a>
</div>-->
{% include 'shared/selectbusiness.html.twig' with {'doAddBtn':true} %}
<!--<div class="panel panel-default">-->

  <!--<div class="panel-heading">
    Businesses

  </div>-->
  <!--<div class="panel-body">-->
  <div class="container">
      {% if businesses | length > 0 %}
    <!--<div class="table-responsive">
      <table class="table table-striped">

        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Bookings</th>
            <th>Edit</th>
          </tr>
        </thead>

        <tbody>-->
        <div class="row">
          {% for i,business in businesses %}
          <!--<tr>-->
          <div class="col-md-3 col-xs-12 col-sm-12">
            <div class="thumbnail panel shadow">

                <div style="background-image: url('{% if business.hasLogoAttachment %}{{ business.getLogoAttachment.getKey | s3 }}{% else %}{{ asset('assets/images/placeholder-image1.png') }}{% endif %}');" class="business-logo">
                  <span class="sr-only">{{ business.getName }}</span>
                </div>
                <div class="caption">
                     <!--<h4 class="">{{ business.getName }}</h4>-->
                     <div class="row">
                       <div class="col-xs-6">
                       <a href="{{ path('admin_business_bookings_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                         My Bookings
                       </a></div>
                     <div class="col-xs-6"> <a href="{{ path('admin_business_treatments_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                        All Treatments
                      </a></div>
                      <div class="col-xs-6"> <a href="{{ path('admin_business_offers_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                         My Offers
                       </a></div>
                       <div class="col-xs-6"> <a href="{{ path('admin_business_therapists_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                          Therapists
                        </a></div>
                     <div class="col-xs-12">
                         <a class="edit-btn" href="{{ path('admin_business_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                           <span>Edit</span>
                       </a>
                     </div>
                   </div>
                </div>
            </div>
            <!--<td>{{ business.getId }}</td>
            <td>{{ business.getName }}</td>
            <td>{{ business.getAddress.getFullAddressString}}
            <td>-->
              <!--<a href="{{ path('admin_business_bookings_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                View Bookings
              </a>
            </td>-->
            <!--<td>-->

            <!--</td>-->
          </div>
          <!--</tr>-->
          {% endfor %}
          </div>



        <!--</tbody>
      </table>-->
    <!--</div>-->
    {% else %}
    <p>You have no businesses</p>
    {% endif %}
  </div>
  <!--</div>
</div>-->


{% endblock %}
{% block javascripts %}
<script>
  jQuery(document).ready(function(){
      jQuery('.businesses-btn').on('click',function(){
        jQuery('.businesses-list').toggleClass('hidden');
      });
  });
</script>
{% endblock %}
