{% extends 'admin.html.twig' %}

{% block toolbar %}
<div class="admin-buttons align-center align-md-right">
  <a href="{{path('admin_new_businesses_path')}}" class="admin-btn">
    <img src="{{ asset('assets/images/add-button-toolbar.png') }}" alt="Add">
    Add Business
  </a>
</div>
{% endblock %}

{% block body %}

    {% if app.user.hasBusinesses %}

      <div class="row">
          {% for business in app.user.getBusinesses %}

          <div class="col-md-4 col-sm-6">
            <div class="business-card card clearfix" data-id="{{ business.getId }}">

              <figure class="thumbnail">
                {% if business.getLogoAttachment %}

                  <div class="logo-circle" style="background-image: url('{{ business.getLogoAttachment.getKey | s3 }}')">
                    <span class="sr-only">{{ business.getName }}</span>
                  </div>
                {% else %}

                  <span class="business-title">{{ business.getName }}</span>
                {% endif %}
              </figure>

              <div class="under-thumbnail">

                <div class="buttons-caption-wrapper">

                  <div class="buttons-caption half">
                    <a href="{{ path('admin_business_bookings_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                      My Bookings
                    </a>
                  </div>
                  <div class="buttons-caption half bordered">
                    <a href="{{ path('admin_business_treatments_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                      All Treatments
                    </a>
                  </div>
                  <div class="buttons-caption half">
                    <a href="{{ path('admin_business_offers_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                      My Offers
                    </a>
                  </div>
                  <div class="buttons-caption half bordered">
                    <a href="{{ path('admin_business_therapists_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                      Therapists
                    </a>
                  </div>

                  <div class="buttons-caption half">
                    <a href="{{ path('admin_business_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                      <i class="fa fa-pencil fa-small"></i> Edit
                    </a>
                  </div>

                  <div class="buttons-caption half bordered" style="border-bottom: 0px;">
                    <a href="{{ path('business_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                      View Profile
                    </a>
                  </div>

                </div> <!-- /.buttons-caption -->

              </div>

            </div>
          </div>

        {% endfor %}

    </div>
    {% else %}
    <p>You have no businesses</p>
    {% endif %}


{% endblock %}
