{% extends 'admin.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    Businesses
    <a href="{{path('admin_new_businesses_path')}}" class="admin-btn"><i class="fa fa-plus fa-lg"></i><strong>Add a business</strong></a>
  </div>
  <div class="panel-body">
    {% if businesses | length > 0 %}
    <table class="table table-striped">

      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Address</th>
          <th>Bookings</th>
          <th>Edit</th>
        </tr>
      </thead>

      <tbody>
        {% for business in businesses %}
        <tr>
          <td>{{ business.getId }}</td>
          <td>{{ business.getName }}</td>
          <td>{{ business.getAddress.getFullAddressString}}
          <td>
            <a href="{{ path('admin_business_bookings_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
              View Bookings
            </a>
          </td>
          <td>
            <a href="{{ path('admin_business_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
              Edit
            </a>
          </td>

        </tr>
        {% endfor %}



      </tbody>
    </table>
    {% else %}
    <p>You have no businesses</p>
    {% endif %}
  </div>
</div>


{% endblock %}
