{% extends 'admin.html.twig' %}

{% block body %}

<a href="{{path('admin_new_businesses_path')}}" class="admin-btn"><i class="fa fa-plus fa-lg"></i><strong>Add a business</strong></a>

    {% if businesses | length > 0 %}
      <div class="row">
          {% for business in businesses %}

          <div class="col-md-4 col-sm-6">
            <div class="business-card card" data-id="{{ business.getId }}">

              <figure class="thumbnail">
                {% if business.getLogoAttachment %}

                  <div class="logo-circle" style="background-image: url('{{ business.getLogoAttachment.getKey | s3 }}')">
                    <span class="sr-only">{{ business.getName }}</span>
                  </div>
                {% else %}

                  <span class="business-title">{{ business.getName }}</span>
                {% endif %}
              </figure>

              <div class="under-thumbnail">

                <div class="buttons-caption-wrapper">

                  <div class="buttons-caption half">
                    <a href="{{ path('admin_business_bookings_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                      My Bookings
                    </a>
                  </div>
                  <div class="buttons-caption half bordered">
                    <a href="{{ path('admin_business_treatments_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                      All Treatments
                    </a>
                  </div>
                  <div class="buttons-caption half">
                    <a href="{{ path('admin_business_offers_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                      My Offers
                    </a>
                  </div>
                  <div class="buttons-caption half bordered">
                    <a href="{{ path('admin_business_therapists_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                      Therapists
                    </a>
                  </div>

                  <div class="buttons-caption full">
                    <a href="{{ path('admin_business_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                      Edit
                    </a> <a href="{{ path('admin_business_delete_path', { 'slug': business.getSlug, 'id': business.getId}  ) }}">
                      Delete
                    </a>
                  </div>

                </div> <!-- /.buttons-caption -->

              </div>

            </div>
          </div>

        {% endfor %}

    </div>
    {% else %}
    <p>You have no businesses</p>
    {% endif %}


{% endblock %}
