{% extends 'admin.html.twig' %}

{% block body %}

<div class="panel panel-default new-panel">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-7">

        {{ form_start(form, {'attr': { 'novalidate': 'true' }} ) }}
        <div class="row">
          <div class="col-md-4 col-xs-6">
              {{ form_label(form.headerAttachment ) }}
              {{ form_widget(form.headerAttachment) }}
          </div>
          <div class="col-md-4 col-xs-6 bordered-file">
            {{ form_label(form.logoAttachment ) }}
            {{ form_widget(form.logoAttachment) }}
          </div>
        </div>

        <p>&nbsp;</p>

        {{ form_row(form.name) }}
        {{ form_row(form.address) }}

        <hr>

        {{ form_row(form.landline) }}
        {{ form_row(form.mobile) }}

        <hr>

        {{ form_row(form.description) }}
        {{ form_row(form.yelpLink) }}
        {{ form_row(form.email) }}
        {{ form_row(form.website) }}

        <hr>

        <div class="checkboxes clearfix">
            {{ form_widget(form.acceptsCash) }}
            {{ form_widget(form.acceptsCredit) }}
        </div>

        {{ form_widget(form) }}

        <input type="submit" value="Create"
               class="btn btn-primary btn-lg" />

        {{ form_end(form) }}

      </div> <!-- /.col-md-7 -->
    </div>
  </div>
</div>


{% endblock %}
