{% extends 'admin.html.twig' %}

{% block body %}

<div class="panel panel-default">
  <div class="panel-heading">
    {{ business.getName }}
    <a href="{{ path('admin_business_treatments_new_path', { id: business.getId, slug: business.getSlug })}}" class="admin-btn"><i class="fa fa-plus fa-lg"></i><strong>Add a treatment</strong></a>
    <a href="#" class="admin-btn"><i class="fa fa-trash-o fa-lg"></i><strong>Delete</strong></a>
  </div>
  <div class="panel-body">
    {{ form_start(businessForm, {'attr': { 'novalidate': 'true' }}) }}

        <div class="form-group">

          {{ form_label(businessForm.headerAttachment) }}
          {{ form_widget(businessForm.headerAttachment) }}

          {% if business is defined %}
            {% if business.getHeaderAttachment %}
            <figure class="">
              <img src="{{ business.getHeaderAttachment.getKey | s3 }}" class="img-responsive" width="180">
            </figure>
            {% endif %}
          {% endif %}

          {{ form_errors(businessForm.headerAttachment) }}

        </div>

        <div class="form-group">

          {{ form_label(businessForm.logoAttachment) }}
          {{ form_widget(businessForm.logoAttachment) }}

          {% if business is defined %}
            {% if business.getLogoAttachment %}
            <figure class="">
              <img src="{{ business.getLogoAttachment.getKey | s3 }}" class="img-responsive" width="100">
            </figure>
            {% endif %}
          {% endif %}

          {{ form_errors(businessForm.logoAttachment) }}

        </div>

        {{ form_widget(businessForm) }}
        <input type="submit" value="Edit Business"
             class="btn btn-primary" />
    {{ form_end(businessForm) }} <!-- /. form -->
  </div>
</div>

{% endblock %}
